<i18n>
{
  "fr": {
    "title": "Protection des données GES 1point5",
    "text-1": "<em>GES 1point5</em> est conçu pour répondre à une double exigence de <strong>protection</strong> des <strong>données sensibles</strong> des laboratoires et les <strong>données personnelles</strong> de leurs membres.",
    "text-2": "Par exemple, les pays de destination des déplacements professionnels ne sont pas enregistrés car ceux-ci peuvent présenter un caractère sensible dans certains laboratoires. Plus généralement, aucune donnée personnelle (au sens de la réglementation RGPD) ne transite sur les serveurs de <em>Labos 1point5</em>.",
    "text-3": "Certaines informations personnelles sont nécessaires pour chiffrer les émissions associées aux déplacements professionnels, mais seul le bilan de ce chiffrage est transmis à <em>Labos 1point5</em>. En pratique, le traitement et l’anonymisation sont effectués directement sur le navigateur de l’utilisateur en ayant recours à un <a target='_blank' class='link' href='http://www.geonames.org'>distancier</a> utilisé pour estimer le kilométrage des déplacements professionnels.",
    "text-4": "Les bilans GES des laboratoires sont stockés sur les serveurs de notre partenaire <a class='link' target='_blank' href='http://www.le-pic.org'>le PIC</a>, en France, pour le compte de <em>Labos 1point5</em>. <em>Labos 1point5</em> a pour projet d’<strong>exploiter ces données</strong>, et ce uniquement à des fins de <strong>recherche scientifique</strong>.",
    "text-5": "Nous remercions pour leur conseils les services de « protection des données personnelles » et de « sécurité des systèmes d’information » du CNRS ainsi que le service de la CNIL d’accompagnement des délégués à la protection des données."
  },
  "en": {
    "title": "GES 1point5 data protection",
    "text-1": "<em>GES 1point5</em> is designed to meet the dual requirement of <strong>protecting sensitive laboratory data</strong> and the <strong>personal data</strong> of its members.",
    "text-2": "For example, the countries of destination of business trips are not recorded as these may be sensitive in some laboratories. More generally, no personal data (in the sense of the GDPR) is transmitted on <em>Labos 1point5</em> servers.",
    "text-3": "Some personal information is required to calculate the emissions associated with business travel, but only the results of this calculation are transmitted to <em>Labos 1point5</em>. In practice, processing and anonymisation are carried out directly on the user's browser using a <a target='_blank' class='link' href='http://www.geonames.org'>distance calculator</a> used to estimate the mileage of business trips.",
    "text-4": "The laboratories' GHG inventories are stored on the servers of our partner <a class='link' target='_blank' href='http://www.le-pic.org'>PIC</a>, in France, on behalf of <em>Labos 1point5</em>. <em>Labos 1point5</em> plans to <strong>use this data for scientific research purposes only</strong>.",
    "text-5": "We would like to thank the CNRS's \"personal data protection\" and \"information systems security\" departments for their advice, as well as the French CNIL's data protection officer support service."
  }
}
</i18n>

<template>
  <div>
    <my-notification :icon="'shield'">
      <template #title>
        {{ $t('title') }}
      </template>
      <span v-html="$t('text-1')" />
      <br />
      <span v-html="$t('text-2')" />
      <br />
      <br />
      <span v-html="$t('text-3')" />
      <br />
      <span v-html="$t('text-4')" />
      <br />
      <br />
      <span v-html="$t('text-5')" />
    </my-notification>
  </div>
</template>

<script>
export default {
  name: 'DataProtection',
  components: {
    'my-notification': () => import('@/components/MyNotification.vue')
  }
}
</script>

<style lang="css" scoped>
  .bcteam {
    list-style-type:square;
    margin-left:25px
  }
  .bcteam > li {
    padding-top: 5px;
  }
</style>
