<i18n>
{
  "fr": {
    "introduction": {
      "title": "Introduction",
      "text-1": "<b>Utilisateur enregistré</b><br/>La première fois où vous allez utiliser l’outil, vous avez à remplir dans le bandeau de gauche lié à votre compte une première page d’informations concernant votre structure. Lorsque vous avez sauvegardé les informations, un message s’affiche en vert en haut de la page: « Les informations ont été enregistrées avec succès ». Ces informations ne seront pas demandées à nouveau ultérieurement lorsque vous vous reconnecterez.",
      "text-2": "Une fois ces informations saisies, cliquez sur « GES 1point5 » toujours dans le bandeau de gauche, puis « Ajouter un BGES ». Vous arrivez alors sur la page d’accueil de <em>GES 1point5</em>, en tant qu’utilisateur enregistré.<br/> Pour commencer votre BGES, validez d’abord les 3 conditions d’entrée. Ensuite saisissez le périmètre de votre BGES. Tant que vous n’avez pas saisi le périmètre, vous ne pouvez pas continuer.",
      "text-3": "<b>Modifications des modules</b><br/> Lorsque vous avez déjà sauvegardé (ou validé) un module et que vous souhaitez modifier ou compléter ce module, il convient de revenir au module concerné, de saisir les nouvelles données et de re-sauvegarder (ou re-valider) le module.",
      "text-4": "<b>Ajout/Changement d'année de BGES</b><br/> Dans le bandeau de menu en haut à gauche, le menu déroulant bleu vous permet d'ajouter une année de BGES ou de passer d'une année de BGES à une autre."
    },
    "boundaries": {
      "title": "Périmètre",
      "text": "<ul style='list-style-type:square;margin-left:25px'><li><strong>Année du BGES : </strong>L’année considérée est celle des données utilisées, et non celle de l’établissement du BGES (par exemple les données que vous allez saisir dans l’outil datent de 2018 et le BGES est construit en 2020: l’année du BGES est donc 2018).<br/> Plus précisément, c’est l’année civile des données collectées pour les consommations d’énergie des bâtiments et, dans la mesure du possible, pour les déplacements en mission.<br/> Il est possible que dans certaines structures, les données de consommation d’énergie des bâtiments ne soient pas disponibles pour la même année que celles des déplacements en missions. Faites au mieux! L’empreinte carbone d’une structure est dans tous les cas un ordre de grandeur.</li><li><strong>Budget annuel</strong> en euros (ordre de grandeur)</li><li><strong>Effectif</strong> : une personne doit être comptée dans l’effectif seulement si elle a fait partie de l’effectif sur les 12 mois de l’année considérée (ceci exclut les stagiaires et les personnes visitantes qui restent moins d’un an). Prenez en compte <strong>l’effectif relatif à l’année civile du BGES</strong>, ou à défaut, celui de l’année en cours</li></ul>"
    }
  },
  "en": {
    "introduction": {
      "title": "Introduction",
      "text-1": "<b>Registered user</b><br/>The first time you use the tool, you have to fill in the first page of information about your organisation in the left banner linked to your account. When you have saved the information, a message will appear in green at the top of the page: \"Your information has been successfully saved\". This information will not be requested again later when you log in.",
      "text-2": "Once you have entered this information, click on \"GES 1point5\" in the left-hand banner, then \"Add a GHGI\". This will take you to the <em>GES 1point5</em> homepage as a registered user.<br/> To start your GHGI, first validate the 3 entry conditions. Then enter the boundaries of your GHGI. As long as you have not entered the boundaries, you cannot continue.",
      "text-3": "<b>Modifying modules</b><br/> When you have already saved (or validated) a module and you wish to correct or complete this module, you must return to the module concerned, enter the new data and save (or validate) the module again.",
      "text-4": "<b>Adding/Switching a GHGI year</b><br/> In the top-left menu bar, the blue drop-down menu lets you add a GHGI year or switch from one GHGI year to another."
    },
    "boundaries": {
      "title": "Boundaries",
      "text": "<ul style='list-style-type:square;margin-left:25px'><li><strong>Year of the GHGI: </strong>The year considered is the year of the data used, not the year of the GHGI (for example, the data you are going to enter into the tool is from 2018 and the GHGI is performed in 2020: the year of the GHGI is therefore 2018).<br/> More precisely, this is the calendar year of the data collected for energy consumption in buildings and, as far as possible, for business trips.<br/> It is possible that in some organisations, building energy consumption data are not available for the same year as business travel data. Do your best! The carbon footprint of a structure is in any case an order of magnitude.</li><li><strong>Annual budget</strong> in Euros (approximately)</li><li><strong>Headcount</strong>: a person must be included in the headcount if he/she has been a member of the staff over the 12 months of the year considered (this excludes interns and visiting persons who stayed less than a year). Please consider <strong>the headcount relating to the calendar year of the GHG inventory</strong>, or, if missing, that of the current year.</li></ul>"
    }
  }
}
</i18n>

<template>
  <div>
    <b-tabs
      :multiline="true"
      :animated="false"
    >
      <b-tab-item>
        <template #header>
          <b-tooltip
            :label="$t('introduction.title')"
            type="is-black"
          >
            <b-icon icon="info" />
          </b-tooltip>
        </template>
        <b-notification :has-icon="true" icon="info" :closable="false">
          <span v-html="$t('introduction.text-1')" />
          <br/>
          <span v-html="$t('introduction.text-2')" />
          <br/><br/>
          <span v-html="$t('introduction.text-3')" />
          <br/><br/>
          <span v-html="$t('introduction.text-4')" />
        </b-notification>
      </b-tab-item>
      <b-tab-item>
        <template #header>
          <b-tooltip
            :label="$t('boundaries.title')"
            type="is-black"
          >
            <b-icon icon="square" />
          </b-tooltip>
        </template>
        <b-notification :has-icon="true" icon="database" :closable="false">
          <span v-html="$t('boundaries.text')" />
        </b-notification>
      </b-tab-item>
      <b-tab-item
        v-for="(module,index) in modules"
        :key="index"
        :icon="getIcon(module)"
      >
        <template #header>
          <b-tooltip
            :label="$t(module)"
            type="is-black"
          >
            <b-icon :icon="getIcon(module)" />
          </b-tooltip>
        </template>
          <component :is="importName(module)" />
      </b-tab-item>
    </b-tabs>
  </div>
</template>

<script>
import Vue from 'vue'
import { useCoreStore } from '@/stores/core.js'
import Modules from '@/models/Modules.js'

export default {
  name: 'HelpManual',
  components: {
    'my-notification': () => import('@/components/MyNotification.vue')
  },
  props: ['header'],
  setup () {
    const coreStore = useCoreStore()
    return { coreStore }
  },
  computed: {
    modules: function () {
      // we only want the top level module types of active modules
      return this.coreStore.activeModules(false)
    }
  },
  methods: {
    getIcon: function (module) {
      return Modules.getIcon(module)
    },
    importName: function (module) {
      return module + 'Help'
    }
  },
  beforeMount () {
    for (let module of this.modules) {
      Vue.component(
        this.importName(module),
        // A dynamic import returns a Promise.
        () => import('@/components/carbon/forms/' + module + '/HelpManual.vue')
      )
    }
  }
}
</script>
