<i18n>
{
  "fr": {
    "text-1": "<small style='color: #d14d65;'>Pour </small><strong style='color: #d14d65;'>contribuer</strong> <small style='color: #d14d65;'> à un champ scientifique émergent.</small><br />Mesurer l’empreinte carbone des secteurs professionnels est un champ de recherche en émergence. <em>GES 1point5</em> a été développé afin de mener un travail de recherche sur l’empreinte carbone dans le cadre d’un Groupement De Recherche (GDR).",
    "text-2": "<small style='color: #8a4869;'>Pour </small><strong style='color: #8a4869;'>impliquer</strong> <small style='color: #8a4869;'> directement les personnels.</small><br /> L’utilisation de <em>GES 1point5</em> permet d’impliquer directement les personnels, de les sensibiliser et de nourrir la réflexion sur les leviers d'actions permettant de réduire ses émissions de gaz à effet de serre.",
    "text-3": "<small style='color: #5f548d;'>Pour </small><strong style='color: #5f548d;'>partager</strong> <small style='color: #5f548d;'> une méthodologie commune.</small><br /> L'utilisation d'une méthodologie et de facteurs d’émission communs ouvre la voie à un travail comparatif cohérent.",
    "text-4": "<small style='color: #3b589f;'>Pour </small><strong style='color: #3b589f;'>tenir compte</strong> <small style='color: #3b589f;'> des spécificités de votre {structure}.</small> <br /> <em>GES 1point5</em> a été développé par des personnels du monde académique. Cet outil a vocation à mettre l’accent sur les postes d’émissions significatifs pour votre {structure}.",
    "text-5": "<small style='color: #0d7eb6;'>Pour </small><strong style='color: #0d7eb6;'>promouvoir</strong> <small style='color: #0d7eb6;'> les outils numériques libres.</small> <br /> <em>GES 1point5</em> est un outil en ligne dont l’ensemble du code source est sous licence libre (<a target='_blank' href='https://www.gnu.org/licenses/gpl-3.0.fr.html'>GPLv3</a>), ce qui permet à toute personne ou organisme de le consulter, le modifier et l’utiliser librement."
  },
  "en": {
    "text-1": "<small style='color: #d14d65;'></small><strong style='color: #d14d65;'>Contribute</strong> <small style='color: #d14d65;'> to an emerging research field.</small><br />Measuring the carbon footprint of professional sectors is an emerging research field. <em>GES 1point5</em> has been developed in order to carry out research on carbon footprint within a Groupement De Recherche (GDR).",
    "text-2": "<small style='color: #8a4869;'></small><strong style='color: #8a4869;'> Involve</strong> <small style='color: #8a4869;'> the staff members.</small><br /> The use of <em>GES 1point5</em> makes it possible to directly involve the staff members, raise their awareness and bring food for thought on the levers of action to reduce our greenhouse gas emissions.",
    "text-3": "<small style='color: #5f548d;'></small><strong style='color: #5f548d;'>Share</strong> <small style='color: #5f548d;'> a common methodology.</small><br /> The use of a common methodology and emission factors paves the way for consistent comparative work.",
    "text-4": "<small style='color: #3b589f;'></small><strong style='color: #3b589f;'>Take into account</strong> <small style='color: #3b589f;'> the specificities of your {structure}.</small> <br /> <em>GES 1point5</em> has been developed by persons from the academic community. This tool is intended to focus on significant emission sources for your {structure}.",
    "text-5": "<small style='color: #0d7eb6;'></small><strong style='color: #0d7eb6;'>Promote</strong> <small style='color: #0d7eb6;'> open access digital tools</small> <br /> <em>GES 1point5</em> is an online tool, of which all of the source code is under a free license (<a target='_blank' href='https://www.gnu.org/licenses/gpl-3.0.fr.html'>GPLv3</a>). This allows any person or entity to view, customize and use it freely."
  }
}
</i18n>

<template>
  <div>
    <article class="media">
      <figure class="media-left">
        <p class="image is-64x64">
          <i class="fa fa-puzzle-piece" style="font-size: 62px; color:#d14d65;"></i>
        </p>
      </figure>
      <div class="media-content">
        <div class="content">
          <p style="text-align: justify;" v-html="$t('text-1')" />
        </div>
      </div>
    </article>
    <article class="media">
      <figure class="media-left">
        <p class="image is-64x64">
          <i class="fa fa-object-group" style="font-size: 50px; color:#8a4869;"></i>
        </p>
      </figure>
      <div class="media-content">
        <div class="content">
          <p style="text-align: justify;" v-html="$t('text-2')" />
        </div>
      </div>
    </article>
    <article class="media">
      <figure class="media-left">
        <p class="image is-64x64">
          <i class="fa fa-hubzilla" style="font-size: 62px; color:#5f548d;"></i>
        </p>
      </figure>
      <div class="media-content">
        <div class="content">
          <p style="text-align: justify;" v-html="$t('text-3')" />
        </div>
      </div>
    </article>
    <article class="media">
      <figure class="media-left">
        <p class="image is-64x64">
          <i class="fa fa-tags" style="font-size: 52px; color:#3b589f;"></i>
        </p>
      </figure>
      <div class="media-content">
        <div class="content">
          <p style="text-align: justify;" v-html="$t('text-4')" />
        </div>
      </div>
    </article>
    <article class="media">
      <figure class="media-left">
        <p class="image is-64x64">
          <i class="fa fa-podcast" style="font-size: 62px; color:#0d7eb6;"></i>
        </p>
      </figure>
      <div class="media-content">
        <div class="content">
          <p style="text-align: justify;" v-html="$t('text-5')" />
        </div>
      </div>
    </article>
    <br />
  </div>
</template>

<script>
export default {
  name: 'WhyGES1point5'
}
</script>

<style lang="css">
article {
  border: 0px;
}
</style>
