<i18n>
{
  "fr": {
    "info-1": "Si votre laboratoire est sous tutelle <strong>CNRS</strong>, demandez à votre gestionnaire un export des missions à partir de geslab (<a class='link' target='_blank' href='/static/carbon/MODOP_MIS4-Extraction_donnees_CNRS-def.pdf'> <span class='icon is-small'><i class='fa fa-file-pdf-o'></i></span> état BIRT MIS_4 </a>). <br />Notez cependant que l’export obtenu génère souvent de nombreuses anomalies à l’import dans GES 1point5, car il dépend de la façon dont les missions ont été saisies dans geslab lors de leur création. Les soucis les plus fréquents sont les suivants : les villes de départ ou d’arrivée ne sont pas reconnues car leur nom n’est pas conforme à la base de données geonames ; les pays de départ ou d’arrivée ne sont pas reconnus car leur nom n’est pas conforme au code ISO3166 ; le mode de déplacement n’est pas reconnu. Il n’y a pas d’autre façon de corriger ces anomalies pour rendre la mission « valide » que de faire les ajustements manuellement.",
    "info-2": "<strong>« Groupe labo » </strong> ;",
    "info-3": "<strong>« Numéro mission » </strong> ;",
    "info-4": "<strong>« Date de départ » </strong> : une date au format jj/mm/aaaa ;",
    "info-5": "<strong>« Ville de départ » </strong> : la ville de départ du déplacement. Ce champ est utilisé pour rechercher les coordonnées GPS du départ du déplacement à l'aide de la base de données <a href='https://www.geonames.org/' target='_blank' class='link'>geonames</a>. Dans le cas où la recherche est infructueuse, le déplacement n'est pas pris en compte et un warning sera affiché ;",
    "info-6": "<strong>« Ville de destination » </strong> : la ville de destination du déplacement. Ce champ est utilisé pour rechercher les coordonnées GPS de la destination du déplacement à l'aide de la base de données <a href='https://www.geonames.org/' target='_blank' class='link'>geonames</a>. Dans le cas où la recherche est infructueuse, le déplacement n'est pas pris en compte et un warning sera affiché ;",
    "info-7": "<strong>« Moyens de transport » </strong> : cette colonne peut prendre une valeur parmi",
    "info-8": "Quand plusieurs modes de transport ont été saisis dans Geslab pour une même mission, un seul mode est retenu avec l'ordre de préférence suivant :",
    "info-9": "<strong>« Nb de pers. dans la voiture » </strong> : le nombre de personnes dans le véhicule est par défaut égal à 1 car l'information n'est pas présente dans Geslab. Si l'utilisateur le souhaite, il/elle peut modifier manuellement cette donnée une fois le fichier importé ;",
    "info-10": "<strong>« Aller / Retour » </strong> : cette information est par défaut « OUI », même quand la mission est multi-destinations car l'information réelle n'est pas présente dans Geslab. Ce choix mène à surévaluer éventuellement les émissions liées aux missions CNRS. Exemple (fictif) : une mission Toulouse-Paris-New York-Toulouse va être importée dans GES1point5 avec 3 allers-retours, à savoir Toulouse-Paris, Paris-New-York, New-York-Toulouse. Nous avons fait ce choix pour ne pas systématiquement minimiser les émissions des missions CNRS. Dans tous les cas, si l'utilisateur le souhaite, il/elle peut modifier manuellement ces informations une fois le fichier importé ;",
    "info-11": "<strong>« Motif du déplacement » </strong> : cette colonne permettra à l'outil de faire des statistiques d'émissions basées sur le motif du déplacement. Ces valeurs sont ensuite transformées dans <em>GES 1point5</em> pour être au bon format",
    "info-12": "<strong>« Statut de l'agent » </strong> : cette information est toujours vide car non disponible dans Geslab ;",
    "info-13": "<strong>« Date de retour » </strong> : une date au format jj/mm/aaaa ;",
    "info-14": "<strong>« Pays de départ » </strong> : le pays de départ du déplacement ou son",
    "info-15": "<strong>« Pays de destination » </strong> : le pays de destination du déplacement ou son",
    "link": "code ISO3166",
    "link-purpose": "Liste des valeurs possibles"
  },
  "en": {
    "info-1": "If your laboratory is under <strong>CNRS</strong> supervision, ask your accountant for an export of business trips from geslab (<a class='link' target='_blank' href='/static/carbon/MODOP_MIS4-Extraction_donnees_CNRS-def.pdf'> <span class='icon is-small'><i class='fa fa-file-pdf-o'></i></span> état BIRT MIS_4 </a>). But note that the export obtained often generates many import anomalies in GES 1point5, because it depends on how the business trips were entered in Geslab when they were created. The most common concerns are: departure or destination cities are not recognized because their name does not comply with the geonames database ; countries of departure or destination are not recognized because their name does not comply with the ISO3166 code  ; the transportation mode is not identified. There is no other way to correct these anomalies to make the business trips « valid » than to make the adjustments manually. ",
    "info-2": "<strong>« Lab's group » </strong> ;",
    "info-3": "<strong>« Trip no » </strong> ;",
    "info-4": "<strong>« Departure date » </strong> : a date in dd/mm/yyyy format ;",
    "info-5": "<strong>« Departure city » </strong> : the departure city of the trip. This field is used to find the GPS coordinates of the departure location using the database <a href='https://www.geonames.org/' target='_blank' class='link'>geonames</a>. If the search is unsuccessful, the trip is not taken into account and a warning will be displayed; ",
    "info-6": "<strong>« Destination city » </strong> : the destination city of the trip. This field is used to find the GPS coordinates of the destination location using the database <a href='https://www.geonames.org/' target='_blank' class='link'>geonames</a>. If the search is unsuccessful, the trip is not taken into account and a warning will be displayed; ",
    "info-7": "<strong>« Mode of transportation » </strong> : this column can take a value among",
    "info-8": "When several modes de transportation are entered in Geslab for the same travel, only one mode is selected with the following order of preference: ",
    "info-9": "<strong>« No of persons in the car » </strong> : the number of persons in the vehicle is equal to 1 by default because the information is not present in Geslab. If the user wishes, he / she can manually change the data once the file has been imported ;",
    "info-10": "<strong>« Round trip » </strong> : this information is « YES » by default, even when the trip has multiple stages because the real information is not present in Geslab . This choice leads to possibly overestimating the emissions linked to CNRS travel. For example, a journey Toulouse-Paris-New York City-Toulouse is imported in GES1point5 as 3 round trips, Toulouse-Paris, Paris-New-York City, New-York City-Toulouse. We made this choice so as not to systematically minimize the emissions from CNRS travel. In any case, if the user wishes, he / she can manually change the data once the file has been imported ;",
    "info-11": "<strong>« Purpose of the trip » </strong> : this optional column will allow the tool to make emission statistics based on the purpose of the trip. This column can take a value among  ['Acq nouv connaissances&techniq', 'Administration de la recherche', 'Autres', 'Colloques et congrés', 'Enseignement dispensé', 'Rech. doc. ou sur terrain', 'Rech. en équipe, collaboration', 'Visite, contact pour projet']. These values are then transformed in <em>GES 1point5</em> to be in the correct format :",
    "info-12": "<strong>« Agent position » </strong> : this field is always empty because it is not available in Geslab ;",
    "info-13": "<strong>« Return date » </strong> : a date in dd/mm/yyyy format ;",
    "info-14": "<strong>« Country of departure » </strong> : the country of departure or its",
    "info-15": "<strong>« Country of destination » </strong> : the country of destination of the trip or its",
    "link": "ISO3166 code",
    "link-purpose": "Possible values"
  }
}
</i18n>

<template>
  <div>
    <p v-html="$t('info-1')" />
    <br />
    <ul style="list-style-type:square;margin-left:25px">
      <li v-html="$t('info-2')"></li>
      <li v-html="$t('info-3')"></li>
      <li v-html="$t('info-4')"></li>
      <li v-html="$t('info-5')"></li>
      <li><span v-html="$t('info-14')" /><a class='link' @click="$emit('displayISO')"> {{ $t('link') }}</a> ;</li>
      <li v-html="$t('info-6')"></li>
      <li><span v-html="$t('info-15')" /><a class='link' @click="$emit('displayISO')"> {{ $t('link') }}</a> ;</li>
      <li>
        <span v-html="$t('info-7')" /> {{ TRANSPORTATIONS.map(value => $t(value)) }}. <span v-html="$t('info-8')" />
        {{ $t(TRANSPORTATIONS[0]) }} > {{ $t(TRANSPORTATIONS[1]) }} > {{ $t(TRANSPORTATIONS[8]) }} > {{ $t(TRANSPORTATIONS[4]) }} >
        {{ $t(TRANSPORTATIONS[2]) }} > {{ $t(TRANSPORTATIONS[6]) }} > {{ $t(TRANSPORTATIONS[7]) }} > {{ $t(TRANSPORTATIONS[3]) }} > {{ $t(TRANSPORTATIONS[5]) }} ;
      </li>
      <li v-html="$t('info-9')"></li>
      <li v-html="$t('info-10')"></li>
      <li><span v-html="$t('info-11')" /> <a class='link' @click="$emit('displayPurposeMapping')"> {{ $t('link-purpose') }}</a> ;</li>
      <li v-html="$t('info-12')"></li>
      <li v-html="$t('info-13')"></li>
    </ul>
  </div>
</template>

<script>
import Travel from '@/models/carbon/Travel.js'
import { useCoreStore } from '@/stores/core'

export default {
  name: 'Help',
  setup () {
    let coreStore = useCoreStore()
    return { coreStore }
  },
  computed: {
    TRANSPORTATIONS: function () {
      return Travel.transportations
    }
  }
}
</script>
