<i18n>
{
  "fr": {
    "text-1": "<b>Taux de réponse au questionnaire domicile-travail</b><br/> Il convient d’éviter le plus possible d’avoir un taux de réponse faible, typiquement inférieur à 50%. Pour cela, le soutien de la direction à la démarche globale de construction du BGES est primordial. Vous pouvez aussi former des référents par équipe au sein de votre structure, pour inciter les collègues de chaque équipe à répondre au questionnaire."
  },
  "en": {
    "text-1": "<b>Response rate to the commuting survey</b><br/> A low response rate, typically below 50%, should be avoided as much as possible. For this, management support for the overall process of building the GHGI is essential. You can also train referents per team within your organisation, to encourage colleagues in each team to answer the survey."
  }
}
</i18n>

<template>
  <div>
    <b-notification :has-icon="true" icon="info" :closable="false">
      <p v-html="$t('text-1')" />
    </b-notification>
  <help-data />
  </div>
</template>

<script>
export default {
  name: 'HelpManual',
  components: {
    'help-data': () => import('@/components/carbon/forms/commutes/HelpData.vue')
  }
}
</script>
