<i18n>
{
  "fr": {
    "title": "Notes",
    "title-1": "Transition 1point5: une communauté qui se met en mouvement",
    "notes-1": "Transition 1point5, développé par Labos 1point5, est un outil permettant de s'inspirer des bonnes pratiques dans les autres {structures} du réseau mais également de devenir acteur et partager sa propre expérience.",
    "notes-11": "Pour participer activement à Transition 1point5 il vous est demandé d'avoir établi un premier bilan carbone avec l'outil GES1.5 et soumis au moins un poste d'émissions.",
    "notes-12": "Dans tous les cas, en utilisant Transition 1point5 vous devez avoir lu et accepté la charte du réseau."
  },
  "en": {
  }
}
</i18n>

<template>
  <div>
    <my-notification :icon="'warning'">
      <template #title>
        {{ $t('title') }}
      </template>
      <p>
        <b>{{ $t('title-1') }}</b
        ><br />
        <span v-html="$t('notes-1')" /> <br /><br />
        <span v-html="$t('notes-11')" /> <br /><br />
        <span v-html="$t('notes-12')" /> <br /><br />
      </p>
    </my-notification>
  </div>
</template>

<script>
export default {
  name: 'Notes',
  components: {
    'my-notification': () => import('@/components/MyNotification.vue')
  }
}
</script>
