<i18n>
{
  "fr": {
    "text": "Vous devez fournir la liste des achats de biens et services de l'année sous la forme d'un listing de codes NACRES et de montants HT associés. Les données brutes peuvent être obtenues en général à partir des outils de gestion couramment utilisés (Geslab, SIFAC, MAPS, …). Ces données brutes doivent ensuite être formatées soigneusement pour éviter les erreurs d’interprétation par l’outil. Pour éviter les doubles comptages, certains codes NACRES sont neutralisées dans le module achat comme les paiements de consommation électrique ou l'achat de matériel informatique par exemple. Il est donc attendu que ces données soient renseignées dans les autres modules (ex: bâtiments, informatique). Vous trouverez ci-dessous des informations sur l'extraction des données, le format de fichier reconnu par GES 1point5 ainsi que des fichiers d'exemple."
  },
  "en": {
    "text": "You must provide the list of purchases of goods and services for the year in the form of a listing of NACRES codes and the associated amounts excluding VAT. The raw data can generally be obtained from management tools (Geslab, SIFAC, MAPS, etc.). This raw data must then be carefully formatted to avoid misinterpretation by the tool. To avoid double counting, certain NACRES codes are neutralised in the purchase module, such as payments for electricity consumption or purchases of IT equipment, for example. It is therefore expected that these data will be provided in the other modules (e.g. buildings, Digital devices). You will find below information on data extraction together the file format recognised by GES 1point5 and example files."
  }
}
</i18n>

<template>
  <div>
    <b-notification :has-icon="true" icon="database" :closable="false">
        <span v-html="$t('text')" />
    </b-notification>
    <help-file-extraction />
    <br>
    <help-file-format />
  </div>
</template>

<script>
export default {
  name: 'HelpData',
  components: {
    'help-file-extraction': () => import('@/components/carbon/forms/purchases/HelpFileExtraction.vue'),
    'help-file-format': () => import('@/components/carbon/forms/purchases/HelpFileFormat.vue')
  }
}
</script>
