<i18n>
{
  "fr": {
    "text-1": "<b>Prise en compte uniquement des équipements et des services achetés par votre organisation</b><br/> Comme pour les autres postes, afin d'éviter les doubles comptages, ne comptez que les biens et services achetés par votre organisation. Par conséquent, si vous hébergez du matériel acheté (et donc inventorié) par une autre structure, ses émissions intégrées ne vous sont pas rattachées. Inversement, si votre organisation a acheté du matériel qui est hébergé dans une autre structure, alors les émissions intégrées des ces équipements doivent vous être imputées."
  },
  "en": {
    "text-1": "<b>Only equipment and services purchased by your entity are counted.</b><br /> As with other items, to avoid double counting, only the goods and services purchased by your entity should be considered. Therefore, if you hosts equipment purchased (and therefore inventoried) by another organisation, its integrated emissions are not attached to your entity. Conversely, if your entity has purchased equipment that is hosted by another organisation, then the integrated emissions of this equipment should be attributed to your entity."
  }
}
</i18n>

<template>
  <div>
    <b-notification :has-icon="true" icon="info" :closable="false">
      <p>
        <span v-html="$t('text-1')" />
      </p>
    </b-notification>
    <help-data />
  </div>
</template>

<script>
export default {
  name: 'HelpManual',
  components: {
    'help-data': () => import('@/components/carbon/forms/purchases/HelpData.vue')
  }
}
</script>
