<i18n>
{
  "fr": {
    "title-1": "Les achats de biens et de services",
    "title-2": "Suppression",
    "modal-title-1": "Modifier un achat",
    "modal-title-2": "Ajouter un achat",
    "modal-title-3": "Visualiser un achat",
    "info-1": "Veuillez fournir la liste de vos achats financées sur crédits {done} {structure} en",
    "info-2": ", toutes tutelles confondues.",
    "info-7": "Pour empêcher les doubles comptages, les codes NACRES qui correspondent à des achats dont les émissions sont calculées dans d’autres modules de <em>GES 1point5</em> ne sont pas pris en compte dans le module achats (cf « Autres modules » dans le tableau ci-dessous). Il s’agit des billets pour les déplacements professionnels, des combustibles pour les véhicules et le chauffage, et du matériel informatique. Le nombre de lignes valides correspond au nombre de lignes de code Nacres entrant dans le calcul des émissions des achats.",
    "info-9": "Des achats ne sont pas valides, continuer va entraîner leur suppression. <br /> Êtes vous sûr de vouloir continuer ?",
    "label-1": "Lignes valides",
    "label-2": "Montant total",
    "label-3": "Autres modules",
    "save-msg": "Les informations d'achats ont été sauvegardées avec <strong><span style='color:green;'>succès</span></strong>."
  },
  "en": {
    "info-1": "Please provide the list of your purchases that were paid by {done} {structure} in",
    "info-2": ", all supervisory included.",
    "title-1": "Purchases of goods and services",
    "title-2": "Delete",
    "modal-title-1": "Edit a purchase",
    "modal-title-2": "Add a purchase",
    "modal-title-3": "View a purchase",
    "info-7": "To prevent double counting, NACRES codes that correspond to purchases whose emissions are calculated in other <em>GES 1point5</em> modules are not included in the « Purchases of goods and services » module (they are included in « Other modules » in the table below). These are tickets for business travel, fuel for vehicles and heating, and digital devices. The number of valid rows corresponds to the number of Nacres code rows used in the calculation of emissions from purchases.",
    "info-9": "Some purchases data are not valid. If you continue to proceed, they will be deleted. <br />Are you sure you want to proceed?",
    "label-1": "Valid rows",
    "label-2": "Total amount",
    "label-3": "Other modules",
    "save-msg": "The data relating to purchases have been <strong><span style='color:green;'>successfully</span></strong>saved."
  }
}
</i18n>

<template>
  <div>
    <serveur-info :erreur="error"/>
    <my-notification :icon="'eur'">
      <template #title>
        {{ $t('title-1') }}
      </template>
      <div class="content">
        {{ $t('info-1') }} <strong> {{ currentYear }}</strong>{{ $t('info-2') }}
      </div>
    </my-notification>
    <br />
    <help-file-format
      :module="module"
      :hasExtraction="true"
    />
    <b-notification :has-icon="true" icon="info" :closable="false">
      <span v-html="$t('info-7')" />
    </b-notification>

    <b-loading :is-full-page="true" v-model="isLoading" :can-cancel="false"></b-loading>

    <purchases-warning ref="purchasesWarning" />

    <upload
      v-model="source"
      :submitted="submitted"
      :module="module"
      :infos="infos"
      :callback="callback"
      :formatDescription="formatDescription"
      @update="updateUpload"
    />

    <purchases-table
      @edit="edit"
      @update="updateFTable"
      @del="del"
      :items="purchases"
      data-testid="purchases-table"
    />

    <b-modal
      :active="displayModal"
      has-modal-card
      @close="closeModal"
      :can-cancel="['escape', 'x', 'outside']"
      :width="1000"
    >
      <div class="modal-card" style="width: 1000px;">
        <header class="modal-card-head">
          <p class="modal-card-title">{{ modalTitle }}</p>
        </header>
        <section class="modal-card-body">
          <purchase-form
            :purchase="purchase"
            :modeCreation="modeCreation"
            @close="closeModal"
            @add="add"
            @update="updateItem"
          />
        </section>
      </div>
    </b-modal>

    <br />
    <nav class="level">
      <div class="level-left"></div>
      <div class="level-right">
        <div class="buttons">
          <b-button
            class="button"
            icon-left="plus"
            :disabled="submitted"
            @click="displayAddForm()"
          >
            {{ $t('add') }}
          </b-button>
          <b-button
            class="level-item"
            :icon-left="validSavedIcon"
            :disabled="!flags.isModified"
            type="is-primary"
            @click="validate()"
            data-testid="purchases-save"
          >
            <span v-if="authStore.isAuthenticated">{{ $t('save') }}</span>
            <span v-else>{{ $t('validate') }}</span>
          </b-button>
        </div>
      </div>
    </nav>
  </div>
</template>

<script>
import Purchase from '@/models/carbon/Purchase.js'
import Modules from '@/models/Modules.js'
import { useAuthenticationStore } from '@/stores/authentication.js'
import { useAdminStore } from '@/stores/admin.js'
import { useGHGIStore } from '@/stores/ghgi.js'

export default {
  name: 'Main',
  components: {
    'my-notification': () => import('@/components/MyNotification.vue'),
    'serveur-info': () => import('@/components/ServeurInfo.vue'),
    'purchase-form': () => import('@/components/carbon/forms/purchases/Form.vue'),
    'help-file-format': () => import('@/components/carbon/forms/HelpFileFormat.vue'),
    'upload': () => import('@/components/carbon/forms/Upload.vue'),
    'purchases-warning': () => import('@/components/carbon/forms/purchases/Warning.vue'),
    'purchases-table': () => import('@/components/carbon/forms/purchases/Table.vue')
  },
  $_veeValidate: {
    validator: 'new'
  },
  props: {
    flags: {
      type: Object
    }
  },
  data () {
    return {
      error: null,
      source: null,
      modeCreation: false,
      displayModal: false,
      displayNote: false,
      purchase: null,
      isLoading: false
    }
  },
  setup () {
    const authStore = useAuthenticationStore()
    const adminStore = useAdminStore()
    const ghgiStore = useGHGIStore()
    return { authStore, adminStore, ghgiStore }
  },
  computed: {
    module: function () {
      return Modules.PURCHASES
    },
    validSavedIcon: function () {
      let icon = null
      if (this.authStore.isAuthenticated) {
        icon = 'save'
      } else {
        icon = 'check'
      }
      return icon
    },
    formatDescription: function () {
      return Purchase.formatDescription
    },
    infos: function () {
      let totalValid = this.ghgiStore.validItems(this.module, this.source).length
      let totalInvalid = this.ghgiStore.invalidItems(this.module, this.source).length
      let totalOtherModules = this.ghgiStore.otherItems(this.module, this.source).length
      let totalAmount = this.purchases
        .filter(p => p.isValid())
        .map(obj => obj.amount).reduce((a, b) => parseFloat(a) + parseFloat(b), 0.0)
      let value1 = this.$options.filters.splitNumber(totalValid) + ' / '
      value1 += this.$options.filters.splitNumber(totalValid + totalInvalid)
      return [
        {
          'label': this.$t('label-1'),
          'value': value1
        },
        {
          'label': this.$t('label-2'),
          'value': this.$options.filters.splitNumber(totalAmount) + ' €'
        },
        {
          'label': this.$t('label-3'),
          'value': this.$options.filters.splitNumber(totalOtherModules)
        }
      ]
    },
    currentYear () {
      return this.ghgiStore.item.year
    },
    purchases: function () {
      return this.ghgiStore.items(this.module).filter(item => {
        if (this.source === null) {
          return true
        } else {
          return item.source === this.source
        }
      })
    },
    submitted: function () {
      return this.ghgiStore.item.submitted.purchases
    },
    modalTitle: function () {
      let title = this.$t('modal-title-1')
      if (this.modeCreation) {
        title = this.$t('modal-title-2')
      } else if (this.submitted) {
        title = this.$t('modal-title-3')
      }
      return title
    }
  },
  methods: {
    callback: function (data, format, source) {
      this.error = null
      this.isLoading = true
      let allTags = this.adminStore.allTagCategories.map(obj => obj.tags).flat()
      let purchases = Purchase.createFromLines(data, format, allTags, source)
      for (let purchase of purchases) {
        this.ghgiStore.addItem({
          module: this.module,
          item: purchase
        })
      }
      this.isLoading = false
    },
    updateUpload: function () {
      this.$emit('is-modified', true)
      this.forceComputation()
    },
    validate: function () {
      let self = this
      if (this.ghgiStore.invalidItems(this.module).length !== 0) {
        this.$buefy.dialog.confirm({
          title: self.$t('title-2'),
          message: self.$t('info-9'),
          confirmText: self.$t('validate'),
          cancelText: self.$t('cancel'),
          canCancel: ['escape', 'button', 'outside'],
          onConfirm: function () {
            self.ghgiStore.deleteInvalidItems(self.module)
            self.subValidate()
          }
        })
      } else {
        this.subValidate()
      }
    },
    subValidate: function () {
      if (this.authStore.isAuthenticated) {
        const loadingComponent = this.$buefy.loading.open({
          container: null
        })
        this.ghgiStore.saveItems(this.module)
          .then(data => {
            loadingComponent.close()
            this.$emit('is-valid', this.ghgiStore.items(this.module).length > 0)
            this.$emit('is-modified', false)
            this.error = ''
            window.scrollTo(0, 0)
            this.$buefy.toast.open({
              type: 'is-light',
              message: this.$t('save-msg')
            })
            this.source = null
          })
          .catch((error) => {
            loadingComponent.close()
            this.$emit('is-valid', false)
            this.error = error.response.data
          })
      } else {
        this.$emit('is-valid', this.ghgiStore.items(this.module).length > 0)
        this.$emit('is-modified', false)
      }
    },
    closeModal: function () {
      this.displayModal = false
      this.purchase = new Purchase()
    },
    add: function (purchase) {
      this.ghgiStore.addItem({
        module: this.module,
        item: purchase
      })
      this.$emit('is-modified', true)
      this.closeModal()
      this.forceComputation()
    },
    updateItem: function (obj) {
      this.ghgiStore.updateItem({
        module: this.module,
        item: obj
      })
      this.$emit('is-modified', true)
      this.closeModal()
      this.forceComputation()
    },
    updateFTable: function () {
      this.$emit('is-modified', true)
      this.forceComputation()
    },
    del: function (items) {
      this.ghgiStore.deleteItems({
        module: this.module,
        items: items
      })
    },
    edit: function (purchase) {
      this.modeCreation = false
      this.purchase = purchase
      this.displayModal = true
    },
    displayAddForm: function () {
      this.modeCreation = true
      this.purchase = new Purchase()
      this.displayModal = true
    },
    forceComputation: function () {
      this.$refs.purchasesWarning.forceComputation()
    }
  }
}
</script>
