<i18n>
{
  "fr": {
    "label-4": "Code",
    "label-5": "Intitulé NACRES",
    "label-6": "Montant",
    "label-7": "Non utilisé",
    "label-8": "Module",
    "label-9": "Aucun",
    "no-purchase": "Aucun achat"
  },
  "en": {
    "label-4": "Code",
    "label-5": "NACRES description",
    "label-6": "Amount",
    "label-7": "Not used",
    "label-8": "Module",
    "label-9": "None",
    "no-purchase": "No purchase"
  }
}
</i18n>

<template>
  <model-table
    :data="items"
    :noItemLabel="$t('no-purchase')"
    :module="module"
    :disabled="submitted"
    :singleUpdateDisabled="false"
    :bulkOpsDisabled="false"
    :withTags="authStore.isAuthenticated"
    @update="$emit('update')"
    @edit="item => $emit('edit', item)"
    @del="items => $emit('del', items)"
  >
    <b-table-column
      :label="$t('label-8')"
      field="module"
      sortable
      centered
      v-slot="props"
    >
      <b-tag rounded type="is-success" v-if="props.row.module==purchasesModule">{{ $t(props.row.module) }}</b-tag>
      <b-tag rounded v-else-if="props.row.module">{{ $t(props.row.module) }}</b-tag>
      <b-tag rounded type="is-danger" v-else> {{ $t('label-9') }} </b-tag>
    </b-table-column>
    <b-table-column
      :label="$t('label-4')"
      field="code"
      sortable
      v-slot="props"
    >
      {{ props.row.code.toUpperCase() }}
    </b-table-column>
    <b-table-column
      :label="$t('label-5')"
      v-slot="props"
    >
      <span v-if="$t(props.row.getFactorDescription()).length < 50">
        {{ $t(props.row.getFactorDescription()) }}
      </span>
      <span v-else>
        <b-tooltip multilined :label="$t(props.row.getFactorDescription())" type="is-black">
          {{ $t(props.row.getFactorDescription()) | truncate(50) }}
        </b-tooltip>
      </span>
    </b-table-column>
    <b-table-column
      :label="$t('label-6')"
      field="amount"
      sortable
      numeric
      v-slot="props"
    >
      {{ props.row.amount | splitFloat }} €
    </b-table-column>
  </model-table>
</template>

<script>
import Purchase from '@/models/carbon/Purchase.js'
import Modules from '@/models/Modules.js'
import { useGHGIStore } from '@/stores/ghgi.js'
import { useAuthenticationStore } from '@/stores/authentication.js'

export default {
  name: 'Table',
  setup () {
    const ghgiStore = useGHGIStore()
    const authStore = useAuthenticationStore()
    return { ghgiStore, authStore }
  },
  props: {
    items: {
      type: Array,
      default: function () {
        return []
      }
    }
  },
  components: {
    'model-table': () => import('@/components/carbon/forms/ModelTable.vue')
  },
  computed: {
    module: function () {
      return Modules.PURCHASES
    },
    purchasesModule: function () {
      return Purchase.MODULE_NAME
    },
    submitted: function () {
      return this.ghgiStore.item.submitted.purchases
    }
  }
}
</script>
