<i18n>
{
  "fr": {
    "info-1": "GES 1point5 reconnaît un type de fichier pour les véhicules (fichiers exemples : ",
    "info-2a": "format tsv",
    "info-2b": "ou",
    "info-2c": "format csv",
    "info-3": "Ce fichier doit contenir un item par ligne, avec les colonnes suivantes :",
    "file": {
      "col1": "<strong>« Identifiant »</strong> : identifiant/nom du véhicule. Si le véhicule a déjà été renseigné dans un précédent BGES, veuillez utiliser le même identifiant si possible.",
      "col2": "<strong>« Type »</strong> : le type de véhicule parmi: <em> voiture, moto, vélo, trottinette </em>.",
      "col3": "<strong>« Motorisation »</strong> : la motorisation du véhicule. Les valeurs possibles sont données entre parenthèses pour chaque type de véhicule: voiture (<em>essence, diesel, inconnue, GPL, GNV, E85, hybride, électrique</em>), moto (<em>essence</em>), vélo (<em>musculaire, électrique</em>), trottinette (<em>électrique</em>).",
      "col4": "<strong>« Distance »</strong> : la distance totale parcourue dans l'année en km.",
      "col5": "<strong>« Labels » (optionnel)</strong> : liste des labels associés au véhicule. Les labels doivent avoir été prédéfinis au préalable dans <em>GES 1point5</em>."
    }
  },
  "en": {
    "info-1": "GES 1point5 recognizes one type of files for vehicles (sample files:",
    "info-2a": "tsv format",
    "info-2b": "or",
    "info-2c": "csv format",
    "info-3": "This file must contain one item per row, with the following columns:",
    "file": {
      "col1": "<strong>« Id »</strong> : vehicle identifier/name. If the vehicle has already been entered in a previous GHGI, please use the same identifier if possible.",
      "col2": "<strong>« Type »</strong> : the type of vehicle from: <em>car, motorbike, bike, scooter</em>.",
      "col3": "<strong>« Engine »</strong> : the vehicle's engine. The possible values are given in brackets for each type of vehicle: car (<em>gasoline, diesel, unknown, LPG, CNG, E85, hybrid, electric</em>), motorbike (<em>gasoline</em>), bike (<em>muscular, electric</em>), scooter (<em>electric</em>).",
      "col4": "<strong>« Distance »</strong> : the total distance travelled during the year in km.",
      "col5": "<strong>« Tags » (optional)</strong> : list of tags associated with the vehicle. Tags must have been predefined in <em>GES 1point5</em>."
    }
  }
}
</i18n>

<template>
  <b-notification :has-icon="true" icon="file" :closable="false">
    {{ $t('info-1') }}
    <a class="link" href="/static/carbon/vehiclesTemplate.tsv" download>{{ $t('info-2a') }}</a>
    {{ $t('info-2b') }}
    <a class="link" href="/static/carbon/vehiclesTemplate.csv" download>{{ $t('info-2c') }}</a>).
    {{ $t('info-3') }}
    <br /><br />
    <ul style="list-style-type:square;margin-left:25px">
      <li v-html="$t('file.col1')"></li>
      <li v-html="$t('file.col2')"></li>
      <li v-html="$t('file.col3')"></li>
      <li v-html="$t('file.col4')"></li>
      <li v-html="$t('file.col5')"></li>
    </ul>
  </b-notification>
</template>

<script>

export default {
  name: 'HelpFileFormat'
}
</script>
