<i18n>
  {
    "fr": {
      "my-tags": "Mes labels",
      "ges-1point5": "GES 1point5",
      "ghgis": "Les BGES",
      "all-actions": "Actions",
      "transition-maps": "Le réseau des laboratoires",
      "network": "Le réseau",
      "scenario-1point5": "Scénario 1point5",
      "transition-1point5": "Transition 1point5",
      "scenarios": "Les scénarios",
      "compare-ghgis": "Comparer BGES",
      "moderation": "Modération",
      "users-admin": "Utilisateurs",
      "jobs-admin": "Jobs",
      "settings": "Configuration",
      "tooltip-1": "Les informations du laboratoire sont requises pour créer un BGES.",
      "tooltip-2": "Au moins un BGES est requis pour créer un scénario.",
      "tooltip-3": "Les informations du laboratoire et avoir soumis un ou plusieurs BGES (même partiellement) sont requis pour créer un plan de transition.",
      "tooltip-actions": "Pour accèder à la rédaction des actions, merci d'accepter les conditions d'utilisation de l'application Transition-1point5",
      "settings": "Configuration",
      "data": "Les données"
    },
    "en": {
      "my-tags": "My tags",
      "ges-1point5": "GES 1point5",
      "ghgis": "GHG inventories",
      "transitions": "Transition plan",
      "network": "Network",
      "scenario-1point5": "Scenario 1point5",
      "transition-1point5": "Transition 1point5",
      "scenarios": "The scenarios",
      "compare-ghgis": "Compare GHGIs",
      "moderation": "Moderation",
      "users-admin": "Users",
      "jobs-admin": "Jobs",
      "settings": "Settings",
      "tooltip-1": "Laboratory information is required to create a GHGI.",
      "tooltip-2": "At least one GHGI is required to create a scenario.",
      "tooltip-3": "Laboratory information and having submitted one or more GHGI (even partially) are required to create a transition plan.",
      "settings": "Settings",
      "data": "Data"
    }
  }
</i18n>

<template>
  <section class="hero is-default is-bold">
    <div class="hero-body">
      <div class="container">
        <div class="columns">
          <div class="column is-2">
            <b-menu>
              <b-menu-list label="Administration" v-if="authStore.isSuperUser">
                <b-menu-item
                  :active="activeModule==='settings-editor'"
                  @click="activate('settings-editor')"
                >
                  <template slot="label">
                    <b-icon icon="cog"></b-icon>
                    {{ $t('settings') }}
                  </template>
                </b-menu-item>

                <b-menu-item
                  :active="activeModule==='ges-1point5-admin'||activeModule==='scenario-1point5-admin'"
                  :expanded="activeModule==='ges-1point5-admin'||activeModule==='scenario-1point5-admin'"
                  @click="activate('ges-1point5-admin')">
                  <template slot="label" slot-scope="props">
                    <b-icon icon="table"></b-icon>
                    {{ $t('data') }}
                    <b-icon
                      class="is-pulled-right"
                      :icon="props.expanded ? 'caret-down' : 'caret-up'">
                    </b-icon>
                  </template>
                  <b-menu-item
                    :active="activeModule==='ges-1point5-admin'"
                    @click="activate('ges-1point5-admin')"
                  >
                    <template slot="label">
                      <nav class="level">
                        <div class="level-left">
                          <div class="level-item">
                            <b-icon icon="thermometer"></b-icon>
                            GES 1point5
                          </div>
                        </div>
                      </nav>
                    </template>
                  </b-menu-item>
                  <b-menu-item
                    :active="activeModule==='scenario-1point5-admin'"
                    @click="activate('scenario-1point5-admin')"
                  >
                    <template slot="label">
                      <nav class="level">
                        <div class="level-left">
                          <div class="level-item">
                            <b-icon icon="crosshairs"></b-icon>
                            Scenario 1point5
                          </div>
                        </div>
                      </nav>
                    </template>
                  </b-menu-item>
                </b-menu-item>

               <b-menu-item
                  :active="activeModule==='users-admin'"
                  @click="activate('users-admin')"
                  data-testid="users-admin"
                >
                  <template slot="label">
                    <b-icon icon="users"></b-icon>
                    {{ $t('users-admin') }}
                  </template>
                </b-menu-item>

               <b-menu-item
                  :active="activeModule==='jobs-admin'"
                  @click="activate('jobs-admin')"
                >
                  <template slot="label">
                    <b-icon icon="cog"></b-icon>
                    {{ $t('jobs-admin') }}
                  </template>
                </b-menu-item>

              </b-menu-list>
              <b-menu-list :label="$t(entityClass)">
                <b-menu-item
                  :active="activeModule==='my-entity'"
                  @click="activate('my-entity')"
                >
                  <template slot="label">
                    <b-icon :icon="ICON"></b-icon>
                    {{ $t(entityClass) }}
                  </template>
                </b-menu-item>
                <b-menu-item
                  :active="activeModule==='my-tags'"
                  @click="activate('my-tags')"
                >
                  <template slot="label">
                    <b-icon icon="tags"></b-icon>
                    {{ $t('my-tags') }}
                  </template>
                </b-menu-item>
                <b-tooltip
                  :label="$t('tooltip-1')"
                  type="is-black"
                  position="is-right"
                  multilined
                  :active="entity === null"
                  style="width:100%"
                >
                  <b-menu-item
                    :active="activeModule==='all-ghgi'||activeModule==='ghgi-comparison'"
                    :expanded="activeModule==='all-ghgi'||activeModule==='ghgi-comparison'"
                    @click="activate('all-ghgi')"
                    :disabled="entity === null"
                    data-testid="menu-ghgis"
                  >
                    <template slot="label" slot-scope="props">
                      <b-icon icon="thermometer"></b-icon>
                      {{ $t('ges-1point5') }}
                      <b-icon
                        class="is-pulled-right"
                        :icon="props.expanded ? 'caret-down' : 'caret-up'">
                      </b-icon>
                    </template>
                    <b-menu-item
                      :active="activeModule==='all-ghgi'"
                      @click="activate('all-ghgi')"
                      :disabled="entity === null"
                    >
                      <template slot="label">
                        <b-icon icon="thermometer"></b-icon>
                        {{ $t('ghgis') }}
                      </template>
                    </b-menu-item>
                    <b-menu-item
                      :active="activeModule==='ghgi-comparison'"
                      @click="activate('ghgi-comparison')"
                      :disabled="entity === null"
                    >
                      <template slot="label">
                        <b-icon icon="line-chart"></b-icon>
                        {{ $t('compare-ghgis') }}
                      </template>
                    </b-menu-item>
                  </b-menu-item>
                </b-tooltip>
                <b-tooltip
                  :label="$t('tooltip-2')"
                  type="is-black"
                  position="is-right"
                  multilined
                  :active="!(adminStore.allGHGI.length>0)"
                  style="width:100%"
                >
                  <b-menu-item
                    :active="activeModule==='all-scenarios'"
                    :expanded="activeModule==='all-scenarios'"
                    :disabled="!(adminStore.allGHGI.length>0)"
                    @click="activate('all-scenarios')"
                    >
                    <template slot="label" slot-scope="props">
                      <b-icon icon="crosshairs"></b-icon>
                      {{ $t('scenario-1point5') }}
                      <b-icon
                        class="is-pulled-right"
                        :icon="props.expanded ? 'caret-down' : 'caret-up'">
                      </b-icon>
                    </template>
                    <b-menu-item
                      :active="activeModule==='all-scenarios'"
                      @click="activate('all-scenarios')"
                      :disabled="!(adminStore.allGHGI.length>0)"
                    >
                      <template slot="label">
                        <b-icon icon="crosshairs"></b-icon>
                        {{ $t('scenarios') }}
                      </template>
                    </b-menu-item>
                  </b-menu-item>
                </b-tooltip>

                <!-- -->
                <b-menu-item
                  :active="activeModule==='all-actions' || activeModule==='transition-review' || activeModule==='transition-maps'"
                  :expanded="activeModule==='all-actions' || activeModule==='transition-review' || activeModule==='transition-maps'"
                  @click="canAddActions ? activate('all-actions'):activate('transition-maps')"
                >
                  <template slot="label" slot-scope="props">
                    <b-icon icon="lightbulb-o"></b-icon>
                    {{ $t('transition-1point5') }}
                    <b-icon
                      class="is-pulled-right"
                      :icon="props.expanded ? 'caret-down' : 'caret-up'">
                    </b-icon>
                  </template>

                <b-tooltip
                  :label="$t('tooltip-actions')"
                  type="is-black"
                  multilined
                  style="width: 100%"
                  :active="!canAddActions"
                >

                 <b-menu-item
                    :active="activeModule==='all-actions'"
                    @click="activate('all-actions')"
                    :disabled="!canAddActions"
                  >
                    <template slot="label">
                      <b-icon icon="cog"></b-icon>
                      {{ $t('all-actions') }}
                    </template>
                  </b-menu-item>

                 </b-tooltip>

                 <b-menu-item
                    :active="activeModule==='transition-maps'"
                    @click="activate('transition-maps')"
                  >
                    <template slot="label">
                      <b-icon icon="hubzilla"></b-icon>
                      {{ $t('transition-maps') }}
                    </template>
                  </b-menu-item>

                 <b-menu-item v-if="hasReviewerPermissions"
                    :active="activeModule==='transition-review'"
                    @click="activate('transition-review')"
                  >
                    <template slot="label">
                      <b-icon icon="check"></b-icon>
                      {{ $t('moderation') }}
                    </template>
                  </b-menu-item>

               </b-menu-item>
              </b-menu-list>
            </b-menu>
          </div>
          <div class="column">
            <settings-editor v-if="activeModule==='settings-editor'"/>
            <ges-1point5-admin v-if="activeModule==='ges-1point5-admin'"/>
            <users-admin v-if="activeModule==='users-admin'"/>
            <jobs-admin v-if="activeModule==='jobs-admin'"/>
            <scenario-1point5-admin v-if="activeModule==='scenario-1point5-admin'"/>
            <ghgi-comparison v-if="activeModule==='ghgi-comparison'"/>
            <all-ghgi v-if="activeModule==='all-ghgi'"/>
            <my-entity :loaded="loaded" v-if="activeModule==='my-entity'"/>
            <my-tags v-if="activeModule==='my-tags'"/>
            <all-scenarios v-if="activeModule==='all-scenarios'"/>
            <all-actions v-if="activeModule === 'all-actions'"/>
            <transition-maps v-if="activeModule === 'transition-maps'"/>
            <transition-review v-if="activeModule === 'transition-review'"/>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import { entityFactory } from '@/models/core'
import { Background } from '@/mixins/background.js'
import { useCoreStore } from '@/stores/core.js'
import { useAdminStore } from '@/stores/admin.js'
import { useAuthenticationStore } from '@/stores/authentication.js'
import { useTransitionStore } from '@/stores/transition.js'

export default {
  name: 'Administration',
  mixins: [Background],
  components: {
    'settings-editor': () => import('@/components/superadmin/SettingsEditor.vue'),
    'ges-1point5-admin': () => import('@/components/superadmin/GES1point5.vue'),
    'scenario-1point5-admin': () => import('@/components/superadmin/Scenario1point5.vue'),
    'ghgi-comparison': () => import('@/components/admin/GHGIComparison.vue'),
    'all-ghgi': () => import('@/components/admin/AllGHGI.vue'),
    'my-entity': () => import('@/components/admin/entity/AbstractEntity.vue'),
    'my-tags': () => import('@/components/admin/MyTags.vue'),
    'all-scenarios': () => import('@/components/admin/AllScenarios.vue'),
    'all-actions': () => import('@/components/transition/actions/Main.vue'),
    'transition-maps': () => import('@/components/transition/maps/Main.vue'),
    'transition-review': () => import('@/components/transition/reviewer/Main.vue'),
    'users-admin': () => import('@/components/superadmin/UsersAdmin.vue'),
    'jobs-admin': () => import('@/components/superadmin/JobsAdmin.vue')
  },
  data () {
    return {
      activeModule: 'all-ghgi',
      loaded: false
    }
  },
  setup () {
    const coreStore = useCoreStore()
    const adminStore = useAdminStore()
    const authStore = useAuthenticationStore()
    const transitionStore = useTransitionStore()
    return { coreStore, adminStore, authStore, transitionStore }
  },
  computed: {
    entity: function () {
      return this.adminStore.entity
    },
    entityClass: function () {
      return this.coreStore.entityClass
    },
    ICON: function () {
      const EntityClass = entityFactory(this.entityClass)
      return EntityClass.ICON
    },
    routeParam: function () {
      return this.$route.params.name
    },
    hasReviewerPermissions: function () {
      return this.transitionStore.isReviewer
    },
    hasSubmittedGHGIs: function () {
      return this.transitionStore.hasSubmittedGHGIs
    },
    canAddActions: function () {
      return this.transitionStore.canAddActions
    }
  },
  watch: {
    routeParam: function () {
      this.activate(this.routeParam)
    }
  },
  methods: {
    activate: function (module) {
      this.activeModule = module
      this.$router.push('/administration/' + this.activeModule).catch(() => {})
    }
  },
  mounted () {
    if (this.authStore.isAuthenticated) {
      this.loaded = false
      this.bgUI(async () => {
        this.transitionStore.init()
        await this.adminStore.getEntity()
        await this.adminStore.getAllGHGIWithoutConsumptions()
        this.loaded = true
      })
    }
    if (this.routeParam) {
      // if login from scenario and there is no ghgi available, redirect to ges admin
      if (this.entity === null) {
        this.activate('my-entity')
      } else if (this.routeParam === 'all-scenarios' && !(this.adminStore.allGHGI.length > 0)) {
        this.activate('all-ghgi')
      } else {
        this.activate(this.routeParam)
      }
    }
  }

}
</script>
<style>
  .menu-list a {
    padding: .5em !important;
  }
</style>
