<i18n>
{
  "fr": {
    "label-1": "La documentation",
    "label-2": "Autres",
    "label-3": "Liens",
    "label-4": "Webinaires"
  },
  "en": {
    "label-1": "Documentation",
    "label-2": "Others",
    "label-3": "Links",
    "label-4": "Webinars"
  }
}
</i18n>

<template>
  <section class="hero is-default is-bold">
    <div class="hero-body">
      <div class="container">
        <div class="columns">
          <div class="column is-one-quarter">
            <b-menu>
              <b-menu-list
                v-if="activeModule==='ges-emissions-factors'"
                :label="$t('label-1')"
              >
                <b-menu-item
                  class="menubackitem"
                  @click="activate('ges-methodology')"
                  :active="activeModule==='ges-methodology'"
                >
                  <template slot="label">
                    <nav class="level">
                      <div class="level-left">
                        <div class="level-item" style="color:#fff">
                          <b-icon icon="arrow-left"></b-icon>
                        </div>
                      </div>
                    </nav>
                  </template>
                </b-menu-item>
              </b-menu-list>
              <ges-1point5
                v-if="activeModule!=='ges-emissions-factors'"
                v-model="activeModule"
              />
              <scenario-1point5
                v-if="activeModule!=='ges-emissions-factors'"
                v-model="activeModule"
              />
              <transition-1point5
                v-if="activeModule!=='ges-emissions-factors'"
                v-model="activeModule"
              />
              <ecolabware
                v-if="activeModule!=='ges-emissions-factors'"
                v-model="activeModule"
              />
              <b-menu-list
                v-if="activeModule!=='ges-emissions-factors'"
                :label="$t('label-2')"
              >
                <b-menu-item
                  :active="activeModule==='webinar'"
                  @click="activate('webinar')"
                >
                  <template slot="label">
                    <nav class="level">
                      <div class="level-left">
                        <div class="level-item">
                          <b-icon icon="play-circle-o"></b-icon>
                          {{ $t('label-4') }}
                        </div>
                      </div>
                    </nav>
                  </template>
                </b-menu-item>
                <b-menu-item
                  :active="activeModule==='links'"
                  @click="activate('links')"
                >
                  <template slot="label">
                    <b-icon icon="external-link-square"></b-icon>
                    {{ $t('label-3') }}
                  </template>
                </b-menu-item>
              </b-menu-list>

            </b-menu>
          </div>
          <div class="column">
            <!-- ges-1point5 -->
            <ges-methodology v-if="activeModule==='ges-methodology'"/>
            <ges-ademe-diff v-if="activeModule==='ges-ademe-diff'"/>
            <ges-notes :header="true" v-if="activeModule==='ges-notes'"/>
            <ges-manual :header="true" v-if="activeModule==='ges-manual'"/>
            <ges-calculating-methods v-if="activeModule==='ges-calculating-methods'"/>
            <ges-emissions-factors v-if="activeModule==='ges-emissions-factors'"/>
            <ges-update-emissions-factors v-if="activeModule==='ges-update-emissions-factors'"/>
            <ges-data-protection v-if="activeModule==='ges-data-protection'"/>
            <ges-team v-if="activeModule==='ges-team'"/>
            <ges-thanks v-if="activeModule==='ges-thanks'"/>
            <!-- scenario-1point5 -->
            <scenario-notes v-if="activeModule==='scenario-notes'"/>
            <scenario-data v-if="activeModule==='scenario-data'"/>
            <scenario-manual v-if="activeModule==='scenario-manual'"/>
            <scenario-team v-if="activeModule==='scenario-team'"/>
            <scenario-thanks v-if="activeModule==='scenario-thanks'"/>
            <!-- transition-1point5 -->
            <transition-notes v-if="activeModule==='transition-notes'"/>
            <transition-charter v-if="activeModule==='transition-charter'"/>
            <transition-manual v-if="activeModule==='transition-manual'"/>
            <transition-team v-if="activeModule==='transition-team'"/>
            <transition-thanks v-if="activeModule==='transition-thanks'"/>
            <!-- ecolabware -->
            <ecolabware-notes v-if="activeModule==='ecolabware-notes'"/>
            <ecolabware-team v-if="activeModule==='ecolabware-team'"/>
            <!-- others -->
            <links v-if="activeModule==='links'"/>
            <webinar v-if="activeModule==='webinar'"/>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'Documentation',
  components: {
    'ges-1point5': () => import('@/components/carbon/docs/Menu.vue'),
    'ges-methodology': () => import('@/components/carbon/docs/Methodology.vue'),
    'ges-notes': () => import('@/components/carbon/docs/Notes.vue'),
    'ges-manual': () => import('@/components/carbon/docs/HelpManual.vue'),
    'ges-calculating-methods': () => import('@/components/carbon/docs/HelpCalculatingMethods.vue'),
    'ges-emissions-factors': () => import('@/components/carbon/docs/EmissionsFactors.vue'),
    'ges-update-emissions-factors': () => import('@/components/carbon/docs/UpdateEmissionsFactors.vue'),
    'ges-data-protection': () => import('@/components/carbon/docs/DataProtection.vue'),
    'ges-ademe-diff': () => import('@/components/carbon/docs/ADEMEDiff.vue'),
    'ges-team': () => import('@/components/carbon/docs/Team.vue'),
    'ges-thanks': () => import('@/components/carbon/docs/Thanks.vue'),
    'scenario-1point5': () => import('@/components/scenario/docs/Menu.vue'),
    'scenario-notes': () => import('@/components/scenario/docs/Notes.vue'),
    'scenario-data': () => import('@/components/scenario/docs/ScenarioData.vue'),
    'scenario-manual': () => import('@/components/scenario/docs/Manual.vue'),
    'scenario-team': () => import('@/components/scenario/docs/Team.vue'),
    'scenario-thanks': () => import('@/components/scenario/docs/Thanks.vue'),
    'transition-1point5': () => import('@/components/transition/docs/Menu.vue'),
    'transition-notes': () => import('@/components/transition/docs/Notes.vue'),
    'transition-charter': () => import('@/components/transition/docs/Charter.vue'),
    'transition-manual': () => import('@/components/transition/docs/Manual.vue'),
    'transition-team': () => import('@/components/transition/docs/Team.vue'),
    'transition-thanks': () => import('@/components/transition/docs/Thanks.vue'),
    'ecolabware': () => import('@/components/plastic/docs/Menu.vue'),
    'ecolabware-notes': () => import('@/components/plastic/docs/Notes.vue'),
    'ecolabware-team': () => import('@/components/plastic/docs/Team.vue'),
    'links': () => import('@/components/admin/Links.vue'),
    'webinar': () => import('@/components/admin/Webinar.vue')
  },
  data () {
    return {
      activeModule: 'ges-methodology'
    }
  },
  methods: {
    activate: function (val) {
      this.activeModule = val
    }
  }
}
</script>

<style>
  .menu-list a.is-active {
    background-color: rgba(52, 59, 64, 0.7) !important;
    color: white;
  }
  .menubackitem {
    max-width: 50px;
    border-radius:5px;
    background-color:rgb(70, 128, 223, 1);
  }
  .menubackitem :hover {
    border-radius:5px;
    background-color:rgb(70, 128, 223, 1) !important;
    cursor: pointer;
  }
  .b-tabs .tabs {
    overflow: visible;
  }
</style>
