<i18n>
{
  "fr": {
    "measure": "Mesurer",
    "measure-desc": " permet d'<strong>estimer une empreinte carbone</strong> et de construire le bilan gaz à effet de serre (BGES) réglementaire. Ceci afin de nourrir la réflexion sur les leviers d'actions permettant de réduire les émissions de gaz à effet de serre.",
    "imagine": "Imaginer",
    "imagine-desc": " permet de simuler des scénarios de réduction de l’empreinte carbone afin d'<strong>imaginer</strong> des futures possibles et de nourrir la réflexion sur les leviers d'actions permettant de <strong>réduire l'impact</strong> sur le climat et l'environnement.",
    "scenario-1point5": "Scénario 1point5",
    "nghgi": "#bilans GES",
    "nscenario": "#scénarios",
    "nentities": "#{structures}",
    "transition.nactions": "#actions publiées",
    "transition.nentities": "#{structures}",
    "labos-1point5-description": "<em>Apps 1point5</em> est développé par <em>Labos 1point5</em>, un collectif de membres du monde académique, de toutes disciplines et sur tout le territoire, partageant un objectif commun : mieux comprendre et <strong>réduire l'impact des activités humaines sur l'environnement</strong>, en particulier sur <strong>le climat</strong>.",
    "the-answer": "La réponse en",
    "points": "points",
    "why-ges": "Pourquoi utiliser GES 1point5 ?",
    "why-scenario": "Pourquoi utiliser Scénario 1point5 ?",
    "why-transition": "Pourquoi utiliser Transition 1point5 ?",
    "share": "Partager",
    "transition-description": " permet aux {structures} de décrire les actions qu'ils mènent pour la <strong>réduction durable de leur empreinte environnementale</strong>. <br />Il permet aussi aux observateurs d'explorer ces actions pour s'en inspirer."
  },
  "en": {
    "measure": "Measure",
    "measure-desc": " can be used to <strong>estimate a carbon footprint</strong> and building the greenhouse gas (GHG) inventory of your structure. This in order to bring food for thought on the levers for action to reduce GHG emissions.",
    "imagine": "Imagine",
    "imagine-desc": " can be used to simulate scenarios for reducing the carbon footprint and <strong>to imagine</strong> possible futures and to provide food for thought on the levers of action to <strong>reduce impact</strong> on the climate and the environment.",
    "scenario-1point5": "Scenario 1point5",
    "nghgi": "#GHG inventories",
    "nscenario": "#scenarios",
    "nentities": "#{structures}",
    "transition.nactions": "#published actions",
    "transition.nentities": "#{structures}",
    "labos-1point5-description": "<em>Apps 1point5</em> is developped by <em>Labos 1point5</em>, an international, cross-disciplinary collective of academic researchers who share a common goal: to better understand and <strong>reduce the environmental impact of human</strong>, especially on the Earth’s <strong>climate</strong>.",
    "the-answer": "The answer in",
    "points": "points",
    "why-ges": "Why use GES 1point5 ?",
    "why-scenario": "Why use Scenario 1point5 ?",
    "why-transition": "Why use Transition 1point5 ?",
    "share": "Share",
    "transition-description": " enables {structures} to describe the actions they are taking to <strong>sustainably reduce their environmental footprint</strong>. <br />It also enables observers to explore these actions for inspiration."
  }
}
</i18n>

<template>
  <div class="home">
    <section class="section is-small" style="padding-bottom:0">
      <div class="container">
        <div class="content-wrapper" style="margin-top:-260px">
          <div class="columns">
            <div class="column is-one-third">
              <div class="boxicon is-bordered has-text-centered boxicon-home" data-animation="fadeInLeft">
                <div class="bicon">
                  <router-link class="link" :to="{ name: 'ges-1point5' }"><b-icon icon="thermometer-4"></b-icon></router-link>
                </div>
                <h4>{{ $t('measure') }}</h4>
                <p class="has-text-centered" style="margin-bottom:10px">
                  <a class="link" @click="displayWhyGES=true"><strong>GES 1point5</strong></a>
                  <span v-html="$t('measure-desc')"> </span>
                  <nav class="level" style="margin-top:20px">
                    <div class="level-item has-text-centered">
                      <div>
                        <p class="heading">{{ $t('nghgi') }}</p>
                        <p class="title">
                          <template v-if="!isLoading">{{ nGHGI }}</template>
                          <b-skeleton height="26px" width="50px" :active="isLoading"></b-skeleton>
                        </p>
                      </div>
                    </div>
                    <div class="level-item has-text-centered">
                      <div>
                        <p class="heading">{{ $t('nentities') }}</p>
                        <p class="title">
                          <template v-if="!isLoading">{{ nEntity }}</template>
                          <b-skeleton height="26px" width="50px" :active="isLoading"></b-skeleton>
                        </p>
                      </div>
                    </div>
                  </nav>
                </p>
              </div>
            </div>
            <div class="column is-one-third">
              <div class="boxicon is-bordered has-text-centered boxicon-home" data-animation="fadeInLeft">
                <div class="bicon">
                  <router-link class="link" :to="{ name: 'scenario-1point5' }"><b-icon icon="crosshairs"></b-icon></router-link>
                </div>
                <h4>{{ $t('imagine') }}</h4>
                <p class="has-text-centered" style="margin-bottom:10px">
                  <a class="link" @click="displayWhyScenario=true"><strong>{{ $t('scenario-1point5') }}</strong></a>
                  <span v-html="$t('imagine-desc')"> </span>
                  <nav class="level" style="margin-top:20px">
                    <div class="level-item has-text-centered">
                      <div>
                        <p class="heading">{{ $t('nscenario') }}</p>
                        <p class="title">
                          <template v-if="!isLoading">{{ nScenario }}</template>
                          <b-skeleton height="26px" width="50px" :active="isLoading"></b-skeleton>
                        </p>
                      </div>
                    </div>
                  </nav>
                </p>
              </div>
            </div>
            <div class="column is-one-third">
              <div class="boxicon is-bordered has-text-centered boxicon-home" data-animation="fadeInLeft">
                <div class="bicon">
                  <router-link class="link" :to="{ name: 'transition-1point5' }"><b-icon icon="lightbulb-o"></b-icon></router-link>
                </div>
                <h4>{{ $t('share') }}</h4>
                <p class="has-text-centered" style="margin-bottom:10px">
                  <strong>
                  <a class="link" @click="displayWhyTransition=true">Transition 1point5</a>
                  </strong>
                  <span v-html="$t('transition-description')"> </span>
                  <br />
                  <nav class="level" style="margin-top:20px">
                    <div class="level-item has-text-centered">
                      <div>
                        <p class="heading">{{ $t('transition.nactions') }}</p>
                        <p class="title">
                          <template v-if="!isLoading">{{ transition.nActions }}</template>
                          <b-skeleton height="26px" width="50px" :active="isLoading"></b-skeleton>
                        </p>
                      </div>
                    </div>
                    <div class="level-item has-text-centered">
                      <div>
                        <p class="heading">{{ $t('transition.nentities') }}</p>
                        <p class="title">
                          <template v-if="!isLoading">{{ transition.nEntities }}</template>
                          <b-skeleton height="26px" width="50px" :active="isLoading"></b-skeleton>
                        </p>
                      </div>
                    </div>
                  </nav>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <b-modal
      :active.sync="displayWhyGES"
      has-modal-card
      :width="1000"
    >
      <div class="modal-card" style="width: 1000px;">
        <header class="modal-card-head">
          <p class="modal-card-title">
            {{ $t('why-ges') }}
          </p>
        </header>
        <section class="modal-card-body">
          <why-ges-1point5 />
        </section>
      </div>
    </b-modal>
    <b-modal
      :active.sync="displayWhyScenario"
      has-modal-card
      :width="1000"
    >
      <div class="modal-card" style="width: 1000px;">
        <header class="modal-card-head">
          <p class="modal-card-title">
            {{ $t('why-scenario') }}
          </p>
        </header>
        <section class="modal-card-body">
          <why-scenario-1point5 />
        </section>
      </div>
    </b-modal>

    <b-modal
      :active.sync="displayWhyTransition"
      has-modal-card
      :width="1000"
    >
      <div class="modal-card" style="width: 1000px;">
        <header class="modal-card-head">
          <p class="modal-card-title">
            {{ $t('why-transition') }}
          </p>
        </header>
        <section class="modal-card-body">
          <why-transition-1point5 />
        </section>
      </div>
    </b-modal>
  </div>
</template>

<script>
import carbonService from '@/services/carbonService'

export default {
  name: 'home',
  components: {
    'why-ges-1point5': () => import('@/components/carbon/docs/WhyGES1point5.vue'),
    'why-scenario-1point5': () => import('@/components/scenario/docs/WhyScenario1point5.vue'),
    'why-transition-1point5': () => import('@/components/transition/docs/Why.vue')
  },
  data () {
    return {
      displayWhyGES: false,
      displayWhyScenario: false,
      displayWhyTransition: false,
      isLoading: false,
      nEntity: 0,
      nGHGI: 0,
      nScenario: 0,
      transition: {
        nActions: 0,
        nEntities: 0
      }
    }
  },
  mounted () {
    this.isLoading = true
    carbonService.getCounts()
      .then(data => {
        this.isLoading = false
        this.nGHGI = data.nGHGI
        this.nScenario = data.nScenario
        this.nEntity = data.nEntity
        this.transition = data.transition
      })
      .catch((erreur) => {
        this.isLoading = false
      })
  }
}
</script>

<style>
.tabs.is-toggle li.is-active a {
  background-color:  rgba(83, 135, 175, 0.1);
  border-color: rgb(66, 128, 176);
}
.b-skeleton-item {
  margin: auto
}
</style>
