<i18n>
{
  "fr": {
    "title-iso": "Pays et codes ISO3166",
    "header-iso-1": "Nom du pays",
    "header-iso-2": "Code ISO3166",
    "text": "GES 1poin5 reconnait plusieurs types de formats de fichiers selon les outils de gestion utilisés dans votre structure. Un format générique est également disponible si votre structure n'utilise pas les outils de gestion listés ci-dessous.",
    "title-possible-values": "Valeurs possibles",
    "header-key": "Label",
    "header-values": "Valeurs possibles"
  },
  "en": {
    "title-iso": "Countries and ISO3166 codes",
    "header-iso-1": "Country name",
    "header-iso-2": "ISO3166 code",
    "text": "GES 1poin5 recognises several types of file format depending on the management tools used in your organisation. A generic format is also available if your organisation does not use the management tools listed below.",
    "title-possible-values": "Possible values",
    "header-key": "Label",
    "header-values": "Possible values"
  }
}
</i18n>

<template>
  <div>
    <b-modal
      :active.sync="displayISO3166"
      has-modal-card
      :width="800"
    >
      <div class="modal-card" style="width: 800px;">
        <header class="modal-card-head">
          <p class="modal-card-title">
            {{ $t('title-iso') }}
          </p>
        </header>
        <section class="modal-card-body">
          <b-table :data="ISO3166" :columns="ISOColumns"></b-table>
        </section>
      </div>
    </b-modal>

    <b-modal
      :active.sync="displayMapping"
      has-modal-card
      :width="800"
      @close="displayMapping=false"
    >
      <div class="modal-card" style="width: 800px;">
        <header class="modal-card-head">
          <p class="modal-card-title">
            {{ $t('title-possible-values') }}
          </p>
        </header>
        <section class="modal-card-body">
          <b-table :data="mapping">

            <b-table-column field="key" :label="$t('header-key')" v-slot="props">
                {{ $t(props.row.key) }}
            </b-table-column>

            <b-table-column field="value" :label="$t('header-values')" v-slot="props">
                {{ props.row.values }}
            </b-table-column>

          </b-table>
        </section>
      </div>
    </b-modal>

    <b-notification :has-icon="true" icon="file" :closable="false">
      {{ $t('text') }}
      <br /><br />
    </b-notification>
    <b-tabs class="block">
      <b-tab-item
        v-for="(format,index) in formats"
        :key="index"
        :label="format"
      >
        <component
          :is="importName(format)"
          @displayISO="displayISO3166 = true"
          @displayPositionMapping="displayPositionMapping"
          @displayPurposeMapping="displayPurposeMapping"
        />
      </b-tab-item>
    </b-tabs>
  </div>
</template>

<script>
import Vue from 'vue'
import ISO3166 from '@/../data/utils/ISO3166.json'
import { useCoreStore } from '@/stores/core.js'

import { inverseMapping } from '@/utils/utils'

export default {
  name: 'HelpFileFormat',
  data () {
    return {
      displayISO3166: false,
      ISO3166: ISO3166,
      ISOColumns: [
        {
          field: 'names',
          label: this.$t('header-iso-1'),
          centered: true
        },
        {
          field: 'iso',
          label: this.$t('header-iso-2'),
          centered: true
        }
      ],
      displayMapping: false,
      mapping: [],
      mappingColumns: [
        {
          field: 'key',
          label: this.$t('header-key'),
          centered: true
        },
        {
          field: 'values',
          label: this.$t('header-values'),
          centered: true
        }
      ]

    }
  },
  setup () {
    const coreStore = useCoreStore()
    return { coreStore }
  },
  computed: {
    formats: function () {
      return this.coreStore.setting('travel', 'FILE_FORMATS').value
    },
    positions: function () {
      let m = inverseMapping(this.coreStore.conf.TRAVEL_POSITION_DICTIONARY.value)
      return Object.entries(m).map(([k, v]) => { return { key: k, values: v } })
    },
    purposes: function () {
      let m = inverseMapping(this.coreStore.conf.TRAVEL_PURPOSE_DICTIONARY.value)
      return Object.entries(m).map(([k, v]) => { return { key: k, values: v } })
    }
  },
  methods: {
    displayPositionMapping () {
      this.displayMapping = true
      this.mapping = this.positions
    },
    displayPurposeMapping () {
      this.displayMapping = true
      this.mapping = this.purposes
    },
    importName: function (format) {
      return format + 'Help'
    }
  },
  beforeMount () {
    for (let format of this.formats) {
      Vue.component(
        this.importName(format),
        // A dynamic import returns a Promise.
        () => import('@/components/carbon/forms/travels/formats/' + format + '/Help.vue')
      )
    }
  }
}
</script>

<style>
.notification a:not(.button):not(.dropdown-item) {
  text-decoration: none;
}
</style>
