
<template>
  <div>
    <scenario-notes v-if="activeModule==='scenario-notes'"/>
    <scenario-data v-if="activeModule==='scenario-data'"/>
    <scenario-manual v-if="activeModule==='scenario-manual'"/>
    <scenario-team v-if="activeModule==='scenario-team'"/>
    <scenario-thanks v-if="activeModule==='scenario-thanks'"/>
  </div>
</template>

<script>
export default {
  name: 'Wrapper',
  props: {
    activeModule: {
      type: String,
      required: true
    }
  },
  components: {
    'scenario-notes': () => import('@/components/scenario/docs/Notes.vue'),
    'scenario-data': () => import('@/components/scenario/docs/ScenarioData.vue'),
    'scenario-manual': () => import('@/components/scenario/docs/Manual.vue'),
    'scenario-team': () => import('@/components/scenario/docs/Team.vue'),
    'scenario-thanks': () => import('@/components/scenario/docs/Thanks.vue')
  }
}
</script>
