<i18n>
{
  "fr": {
    "title-1": "1. Méthodologie",
    "title-1-1": "Facteurs d’émission (FE)",
    "info-1-1": "Les facteurs d'émissions utilisés sont ceux fournis par la <a class='link' target='_blank' href='https://base-empreinte.ademe.fr/'>base empreinte</a> de l'ADEME. Ils comprennent l'impact de la fabrication et de l'épendage de l'engrais.",
    "title-1-2": "Comment la répartition est faite ?",
    "info-1-2": "L'impact de la fabrication de l'engrais est affecté au poste 4.1 du scope 4 du bilan GES réglementaire et au poste 3.1 du scope 3 du GHG Protocol. L'épendage est quant à lui affecté au poste 1.3 du scope 1 du bilan GES réglementaire et du GHG Protocol."
  },
  "en": {
    "title-1": "1. Methodology",
    "title-1-1": "Emission factors (EF)",
    "info-1-1": "The emissions factors used are those provided by ADEME's <a class='link' target='_blank' href='https://base-empreinte.ademe.fr/'>base empreinte</a>. They include the impact of fertilizer manufacture and spreading.",
    "title-1-2": "How is it distributed?",
    "info-1-2": "The impact of fertilizer manufacture is assigned to item 4.1 of scope 4 of the regulatory GHG balance and to item 3.1 of scope 3 of the GHG Protocol. Spreading is assigned to item 1.3 of scope 1 of the regulatory GHG balance and of the GHG Protocol."
  }
}
</i18n>

<template>
  <div>
    <b-notification :closable="false">
      <strong>{{ $t('title-1') }}</strong>
      <br />
      <strong><em>{{ $t('title-1-1') }}</em></strong>
      <br />
      <span v-html="$t('info-1-1')" />
      <br />
      <br />
      <strong><em>{{ $t('title-1-2') }}</em></strong>
      <br />
      <span v-html="$t('info-1-2')" />
    </b-notification>
  </div>
</template>

<script>
export default {
  name: 'HelpCalculatingMethod'
}
</script>
