<i18n>
{
  "fr": {
    "text": "La liste des activités de recherche prises en charge s'étoffe au fur et à mesure de la disponibilité des méthodologies et des facteurs d'émission associés. Pour proposer l'ajout d'une nouvelle activité de recherche pour laquelle des facteurs d'émissions existent, n'hésitez pas à <a class='link' href='mailto:contact@labos1point5.org'>nous contacter</a>."
  },
  "en": {
    "text": "The list of research activities supported is being expanded as methodologies and associated emission factors become available. If you would like to suggest the addition of a new research activity for which emission factors exist, please <a class='link' href='mailto:contact@labos1point5.org'>contact us</a>."
  }
}
</i18n>

<template>
  <div>
    <b-notification :has-icon="true" icon="info" :closable="false">
      <p>
        <span v-html="$t('text')" />
      </p>
    </b-notification>
    <help-data />
  </div>
</template>

<script>
export default {
  name: 'HelpManual',
  components: {
    'help-data': () => import('@/components/carbon/forms/ractivities/HelpData.vue')
  }
}
</script>
