<i18n>
{
  "fr": {
    "text-1": "Liste des activités de recherche du laboratoire, y compris l'utilisation d'infrastructures de recherche. Dans le détail, voici les informations nécessaires pour chaque activité de recherche :",
    "text-2": "<strong>Catégorie</strong>: la catégorie est à selectionner depuis l'interface (ex: infrastructure de recherche, activités agricoles, ...)",
    "text-3": "<strong>Type</strong>: la liste des types proposés est spécifique d'une catégorie définie par l'utilisateur. Il est selectionné par l'utilisateur depuis l'interface (ex: CERN, Calcul GENCI, Astronomie, Utilisation d'engrais, ...)",
    "text-4": "<strong>Sous-type</strong>: la liste des sous-types proposés est spécifique d'un type définie par l'utilisateur. Il est selectionné par l'utilisateur depuis l'interface (ex: Expérience LHC, Expérience non-LHC pour le CERN, ...)",
    "text-5": "<strong>Quantité</strong>: la quantité utilisée par le laboratoire. L'unité de mesure dépend de l'activité considérée (ex: nombre d'utilisateurs pour le CERN, quantité en kg d'engrais utilisée, ...). Pour l'astronomie, le nom du laboratoire est demandée afin de déterminer l'utilisation des différentes infrastructures."
  },
  "en": {
    "text-1": "List of the laboratory's research activities, including the use of research infrastructures. In detail, here is the information required for each research activity:",
    "text-2": "<strong>Category</strong>: the category is selected from the interface (e.g. research infrastructure, agricultural activities, etc.).",
    "text-3": "<strong>Type</strong>: the list of proposed types is specific to a user-defined category. It is selected by the user from the interface (e.g. CERN, Calcul GENCI, Astronomy, Fertilizer use, ...).",
    "text-4": "<strong>Subtype</strong>: the list of proposed subtypes is specific to a user-defined type. It is selected by the user from the interface (e.g. LHC experiment, non-LHC experiment for CERN, ...).",
    "text-5": "<strong>Amount</strong>: the amount used by the laboratory. The unit of measurement depends on the activity in question (e.g. number of users for CERN, quantity in kg of fertilizer used, ...). For astronomy, the name of the laboratory is requested in order to determine the use of the various infrastructures."
  }
}
</i18n>

<template>
  <div>
    <b-notification :has-icon="true" icon="database" :closable="false">
      <span v-html="$t('text-1')" />
      <ul style='list-style-type:square;margin-left:25px'>
        <li><span v-html="$t('text-2')" /></li>
        <li><span v-html="$t('text-3')" /></li>
        <li><span v-html="$t('text-4')" /></li>
        <li><span v-html="$t('text-5')" /></li>
      </ul>
    </b-notification>
  </div>
</template>

<script>
export default {
  name: 'HelpData'
}
</script>
