{% extends 'base.html' %}

{% block content %}
<b-notification :closable="false">
    Votre mot de passe a été <strong>modifié avec succès</strong> !
    <br />
    Vous pouvez maintenant vous connecter à votre compte avec votre nouveau mot de passe.
</b-notification>
{% endblock %}
