<template>
  <b-tag
    :style="{ 'background-color': backgroundColor, 'color': labelColor }"
    rounded
    :tabstop="false"
    :closable="closable"
    @close="$emit('close')"
    @click="click($event)"
  >
    <input
      v-show="displayInput"
      type="text"
      v-model="tag.name"
      ref="mytaginput"
      @blur="displayInput = false"
      @input="$emit('update')"
      :size="tag.name.length > 1 ? tag.name.length - 1 : 1"
      :style="{
        'background-color': 'rgba(255, 255, 255, .3)',
        'color': labelColor,
        'border': 'solid',
        'border-color': '#3a3a3a',
        'border-width': '1.5px'
      }"
    />
    <span
      v-show="!displayInput"
    >
      {{ tagDisplayName }}
    </span>
  </b-tag>
</template>

<script>
import { Tag } from '@/models/core/TagCategory.js'
const DELAY = 500

export default {
  name: 'MyTag',
  props: {
    color: {
      type: String
    },
    closable: {
      type: Boolean,
      default: false
    },
    editable: {
      type: Boolean,
      default: false
    },
    tag: {
      type: Object,
      default: function () {
        return new Tag(null, 'name')
      }
    }
  },
  data () {
    return {
      nclicks: 0,
      timer: null,
      displayInput: false
    }
  },
  computed: {
    tagDisplayName () {
      if (this.tag.name === Tag.UNTAGGED_LABEL) {
        return this.$t(Tag.UNTAGGED_LABEL)
      } else {
        return this.tag.name
      }
    },
    labelColor: function () {
      let hex = this.backgroundColor.replace(/#/, '')
      const r = parseInt(hex.substr(0, 2), 16)
      const g = parseInt(hex.substr(2, 2), 16)
      const b = parseInt(hex.substr(4, 2), 16)
      if ((r * 0.299 + g * 0.587 + b * 0.114) > 186) {
        return '#000000'
      } else {
        return '#ffffff'
      }
    },
    backgroundColor: function () {
      if (this.color) {
        return this.color
      } else {
        return this.tag.color
      }
    }
  },
  methods: {
    click: function (event) {
      if (this.editable) {
        this.nclicks++
        if (this.nclicks === 1) {
          let self = this
          this.timer = setTimeout(function () {
            self.nclicks = 0
          }, DELAY)
        } else {
          clearTimeout(this.timer)
          this.displayInput = true
          this.$refs.mytaginput.focus()
          this.nclicks = 0
        }
      }
    }
  }
}
</script>
