<i18n>
{
  "fr": {
    "title-1": "Notes",
    "title-2": "Méthodologie utilisée",
    "title-3": "Calcul de l’empreinte du matériel en verre réutilisable",
    "title-4": "Calcul de l’empreinte du matériel à usage unique",
    "desc-1": "La méthodologie utilisée est une analyse du cycle de vie de matériel de laboratoire stérile, considérant l’ensemble des étapes liées à une utilisation. Deux catégories d’impact environnemental ont été considérées : changement climatique (empreinte carbone) et épuisement des ressources en eau (empreinte eau). Les données d’activité fixes et par défaut ont été déterminées sur la base du fonctionnement de la laverie du laboratoire Micalis d’INRAE ainsi que sur la base d’informations fournies par des fabricants d’autoclaves et de laveurs de laboratoire. Les facteurs d’émissions ont été fournis par l’entreprise Ecovamed, partenaire du projet. L’ensemble des calculs et des hypothèses utilisées est disponible dans le prepint <a class='link' target='_blank' href='https://hal.inrae.fr/hal-04889693'><em>EcoLabWare: assessing the carbon footprint of single-use plastic ware versus reusable glassware</em></a>.",
    "desc-2": "8 étapes du cycle de vie sont considérées :",
    "desc-3": "<b>Fabrication du matériel</b>. Une hypothèse de 31 réutilisations a été faite, mais l’utilisateur peut changer cette valeur par défaut.",
    "desc-13": "<b>Transport du matériel</b>. Le transport dépend de la zone géographique de fabrication, et inclut le transport en fin de vie.",
    "desc-4": "<b>Décontamination par autoclavage du matériel souillé</b>. Cette étape optionnelle concerne les utilisations avec des agents biologiques de groupe 2 (agents pathogènes et cultures cellulaires). Les postes d’émissions suivants ont été pris en compte : électricité, eau déionisée, fabrication du stérilisateur, trajets domicile-travail du personnel et utilisation de gants de protection. Les émissions dues à la fabrication de l’autoclave dépendent de la taille de l’autoclave, qui peut être renseignée par l’utilisateur. Les autres émissions dépendent du volume interne de l’autoclave occupé par le matériel à autoclaver (et dépendent donc du type de matériel).",
    "desc-14": "<b>Prélavage par trempage</b>. Cette étape est non optionnelle. L’utilisation d’eau et de détergent sont considérées, en utilisant des valeurs fixes par type de matériel.",
    "desc-5": "<b>Lavage manuel</b>. Nettoyage par frottage sous eau courante. Sont considérés l’utilisation d’eau, du chauffage de l’eau, des trajets domicile-travail du personnel et l’utilisation de détergeant.",
    "desc-6": "<b>Lavage en machine</b>. Cette étape non optionnelle prend en compte les postes d’émissions suivants : électricité, eau courante et déionisée, fabrication du laveur, trajets domicile-travail du personnel et détergent. 1.5 cycles de lavage sont comptabilisés par utilisation du matériel car certains matériels ont besoin d’être lavés deux fois.",
    "desc-7": "<b>Stérilisation en autoclave</b>. Cette étape optionnelle est identique à l’étape de décontamination.",
    "desc-8": "<b>Fin de vie du matériel</b>. Une hypothèse de fin de vie par incinération avec récupération d’énergie est réalisée.",
    "desc-9": "4 étapes du cycle de vie sont considérées :",
    "desc-10": "<b>Fabrication du matériel</b>. 3 postes d’émission sont considérés : l’obtention de matière première, le moulage et la stérilisation par rayons gamma ou faisceau d’électrons (ce poste optionnel ne concerne que le matériel stérile).",
    "desc-15": "<b>Transport du matériel</b>. Le transport dépend de la zone géographique de fabrication, et inclut le transport en fin de vie.",
    "desc-11": "<b>Décontamination du matériel avant sa mise en poubelle</b>. Le matériel est décontaminé par autoclavage. Cette étape concerne les utilisations avec des agents biologiques de groupe 2, et correspond à une recommandation de la loi française.",
    "desc-12": "<b>Fin de vie du matériel</b>. Une hypothèse de fin de vie par incinération avec récupération d’énergie est réalisée."
  },
  "en": {
    "title-1": "Notes",
    "title-2": "Methodology used",
    "title-3": "Footprint of reusable glassware",
    "title-4": "Footprint of single-use plasticware",
    "desc-1": "The methodology used is based on a Life Cycle Assessment approach, and the functional unit is a single (sterile) labware utensil. Emission factors were supplied by Ecovamed. The fixed and default activity data were determined on the basis of the operation of the INRAE Micalis laboratory washing service and on the basis of information supplied by autoclave and laboratory washer manufacturers. All the calculations and assumptions used are presented in the preprint <a class='link' target='_blank' href='https://hal.inrae.fr/hal-04889693'><em>EcoLabWare: assessing the carbon footprint of single-use plasticware versus reusable glassware</em></a>.",
    "desc-2": "8 steps were considered:",
    "desc-3": "<b>Manufacture of labware</b>. An assumption of 31 reuses was made, but the user may change this value.",
    "desc-13": "<b>Transport of labware</b>. Transport depends on the geographical area of manufacture, and includes end-of-life transport.",
    "desc-4": "<b>Decontamination of soiled labware by autoclaving</b>. This stage concerns use with group 2 biological agents (pathogens and cell cultures). The following sources of emissions are considered: electricity, deionized water, manufacturing of the autoclave, staff commuting and the use of protection gloves. Autoclave manufacturing emissions depend on the size of the autoclave, which can be entered by the user. Other emissions depend on the internal volume of the autoclave occupied by the material to be autoclaved (and therefore on the type of material).",
    "desc-14": "<b>Soaking</b>. The use of water and detergent is considered, using fixed values for each type of equipment.",
    "desc-5": "<b>Manual washing</b>. Cleaning by scrubbing under running water. The use of water, water heating, staff commuting and detergent are considered.",
    "desc-6": "<b>Machine wash</b>. The following sources of emissions are considered: electricity, tap water, deionized water, manufacturing of the washer, staff commuting and detergent. 1.5 wash cycles are counted for one reuse, as some labware utensils needs to be washed twice.",
    "desc-7": "<b>Autoclave sterilization</b>. This step is identical to the decontamination step.",
    "desc-8": "<b>End-of-life of labware</b>. End-of-life incineration with energy recovery is assumed.",
    "desc-9": "4 steps are considered:",
    "desc-10": "<b>Labware manufacturing</b>. 3 sources of emission are considered: raw materials, injection molding, gamma or e-beam sterilization.",
    "desc-15": "<b>Transport</b>. Transport depends on the geographical area of manufacture, and includes end-of-life transport.",
    "desc-11": "<b>Decontamination of labware before disposal</b>. This stage concerns plasticware used with group 2 biological agents, and is recommended by French authorities.",
    "desc-12": "<b>End-of-life of labware</b>. End-of-life incineration with energy recovery is assumed."
  }
}
</i18n>

<template>
  <div>
    <my-notification :icon="'warning'">
      <template #title>
        {{ $t('title-1') }}
      </template>
    </my-notification>
    <br />
    <b-notification :closable="false">
      <b>{{ $t('title-2') }}</b>
      <br/>
      <span v-html="$t('desc-1')" />
    </b-notification>
    <b-notification :closable="false">
      <b>{{ $t('title-3') }}</b>
      <br/>
      <span v-html="$t('desc-2')" />
      <ul style="list-style-type:square;margin-left:25px">
        <li><span v-html="$t('desc-3')" /></li>
        <li><span v-html="$t('desc-13')" /></li>
        <li><span v-html="$t('desc-4')" /></li>
        <li><span v-html="$t('desc-14')" /></li>
        <li><span v-html="$t('desc-5')" /></li>
        <li><span v-html="$t('desc-6')" /></li>
        <li><span v-html="$t('desc-7')" /></li>
        <li><span v-html="$t('desc-8')" /></li>
      </ul>
    </b-notification>
    <b-notification :closable="false">
      <b>{{ $t('title-4') }}</b>
      <br/>
      <span v-html="$t('desc-9')" />
      <ul style="list-style-type:square;margin-left:25px">
        <li><span v-html="$t('desc-10')" /></li>
        <li><span v-html="$t('desc-15')" /></li>
        <li><span v-html="$t('desc-11')" /></li>
        <li><span v-html="$t('desc-12')" /></li>
      </ul>
    </b-notification>
  </div>
</template>

<script>
export default {
  name: 'Notes',
  components: {
    'my-notification': () => import('@/components/MyNotification.vue')
  }
}
</script>
