<i18n>
{
  "fr": {
    "text-1": "A partir des données récoltées par le questionnaire, l’outil calcule les émissions générées sur l’année en faisant les hypothèses suivantes:",
    "text-li-1": "Les personnes ayant répondu au questionnaire constituent un échantillon représentatif de l’ensemble des membres {done} {structure}",
    "text-li-2": "Une année standard comprend 41 semaines travaillées, à raison de 5 jours par semaine (41 semaines = 52 semaines – 9 semaines de congés payés – 2 semaines de jours fériés). L’année 2020 comprend 27 semaines de déplacements (41 semaines travaillées – 14 semaines de confinement). L’année 2021 comprend 37 semaines de déplacements (41 semaines travaillées – 4 semaines de confinement). L’hypothèse simplificatrice est que, pendant les confinements, aucun agent n’a eu d’astreinte sur site et aucun agent n’a pris de congés.",
    "text-2": "Les émissions de GES sont calculées par type de repas, en multipliant le nombre total de chaque type de repas par le facteur d’émission du repas.",
    "text-3": "Pour le nombre de repas, l’outil calcule le cumul du nombre de repas pris annuellement, par type de repas, pour toutes les personnes répondantes. Une \"règle de 3\" est ensuite opérée pour obtenir le nombre de repas pour tous les membres {done} {structure}, sur la base de ceux déclarés par les répondants.",
    "text-4": "Le nombre de repas annuels est obtenu en faisant l’hypothèse de 41 semaines travaillées pour une année standard (27 semaines en 2020 ; 37 en 2021).",
    "text-ex-tit": "Exemple de calcul pour un repas type (végétarien)",
    "text-ex-1": "Emissions totales annuelles des repas végétarien pris par l'ensemble des membres {done} {structure} =",
    "text-ex-1-li-1": "nombre total de repas végétarien pris par l'ensemble des membres {done} {structure} *",
    "text-ex-1-li-2": "facteur d’émission de repas végétarien.",
    "text-ex-2": "Nombre total de repas végétarien pris par l'ensemble des membres {done} {structure} =",
    "text-ex-2-li-1": "nombre de repas végétarien pris par l'ensemble des membres {done} {structure} qui ont répondu au questionnaire /",
    "text-ex-2-li-2": "nombre de membres {done} {structure} qui ont répondu au questionnaire *",
    "text-ex-2-li-3": "nombre total de membres {done} {structure}"
  },
  "en": {
    "text-1": "Based on the data collected through the survey, the tool calculates the emissions generated over the year by making the following assumptions:",
    "text-li-1": "The respondents to the survey are a representative sample of all the members {done} {structure}",
    "text-li-2": "A standard year consists of 41 weeks of work, with 5 days per week (41 weeks = 52 weeks - 9 weeks of paid holidays - 2 weeks of public holidays). The year 2020 includes 27 weeks of commutes (41 weeks worked - 14 lockdown weeks). The year 2021 includes 37 weeks of commutes (41 weeks worked - 4 lockdown weeks). The simplifying assumption is that, during the lockdown, no staff were on call on site and no staff took leave.",
    "text-2": "GHG emissions are calculated by meal type, by multiplying the total number of each meal type by the meal's emission factor.",
    "text-3": "For the number of meals, the tool calculates the cumulative number of meals eaten annually, by meal type, for all respondents. A \"rule of 3\" is then applied to obtain the number of meals for all {the} {structure} members, based on those declared by respondents.",
    "text-4": "The number of annual meals is obtained by assuming 41 weeks worked for a standard year (27 weeks in 2020; 37 in 2021).",
    "text-ex-tit": "Example of calculation for a typical meal (vegetarian)",
    "text-ex-1": "Total annual emissions from vegetarian meals eaten by all {the} {structure} members = ",
    "text-ex-1-li-1": "total number of vegetarian meals eaten by all {the} {structure} members *",
    "text-ex-1-li-2": "emission factor of the vegetarian meal.",
    "text-ex-2": "Total number of vegetarian meals eaten by all members of {the} {structure} = ",
    "text-ex-2-li-1": "number of vegetarian meals eaten by all {the} {structure} members who responded to the survey /",
    "text-ex-2-li-2": "number of {structure} members who responded to the survey *",
    "text-ex-2-li-3": "total number of {structure} members"
  }
}
</i18n>

<template>
  <b-notification :closable="false">
    {{ $t('text-1') }}
    <ul style="list-style-type:square;margin-left:25px">
      <li>{{ $t('text-li-1') }}</li>
      <li>{{ $t('text-li-2') }}</li>
    </ul>
    {{ $t('text-2') }}<br />
    {{ $t('text-3') }}<br />
    {{ $t('text-4') }}
    <br /><br />
    <b><em>{{ $t('text-ex-tit') }}</em></b><br />
    {{ $t('text-ex-1') }}
    <ul style="list-style-type:none;margin-left:25px">
      <li>{{ $t('text-ex-1-li-1') }}</li>
      <li>{{ $t('text-ex-1-li-2') }}</li>
    </ul>
    {{ $t('text-ex-2') }}
    <ul style="list-style-type:none;margin-left:25px">
      <li>{{ $t('text-ex-2-li-1') }}</li>
      <li>{{ $t('text-ex-2-li-2') }}</li>
      <li>{{ $t('text-ex-2-li-3') }}</li>
    </ul>
  </b-notification>
</template>

<script>
export default {
  name: 'HelpCalculatingMethod'
}
</script>
