<i18n>
{
  "fr": {
    "title-1": "Introduction",
    "title-2": "Pourquoi utiliser",
    "info-1": "<em>Scénario 1point5</em>, développé par <em>Labos 1point5</em>, est un outil permettant de simuler des trajectoires d’évolution de l’empreinte carbone par la mise en œuvre de mesures de réduction.",
    "info-2": "A travers cet outil l'objectif est triple :",
    "info-3": "Simuler des scénarios de réduction de l’empreinte carbone en mettant en œuvre des mesures que vous aurez choisies parmi celles qui sont proposées par l’outil.",
    "info-4": "Partager ces scénarios de réduction avec l'ensemble du personnel afin de nourrir des discussions collectives.",
    "info-5": "Éclairer de manière quantitative des décisions qui seraient prises dans votre structure. ",
    "info-9": "Impliquer",
    "info-10": "<b>Impliquer</b><br/>directement le<br/>personnel<br/>.",
    "info-11": "Imaginer ",
    "info-12": "<b>Imaginer</b><br/>des <br/>futurs <br/>possibles.",
    "info-13": "S’approprier",
    "info-14": "<b>S’approprier</b><br/>la <br/>transition.<br/><br />",
    "info-15": "Échanger",
    "info-16": "<b>Échanger</b><br/>sur des<br/>futurs<br/>alternatifs.",
    "info-17": "Tenir compte",
    "info-18": "<b>Tenir compte</b><br/>des spécificités<br/>de sa structure.<br/><br />",
    "box-info-6": "Être utilisateur habilité de <em>Scénario 1point5</em> signifie :",
    "box-info-7": "Imaginer des scénario à partir de vos BGES",
    "box-info-8": "Avoir accès à l'ensemble des mesures de réduction",
    "box-info-9": "Avoir accès et exporter les résultats",
    "box-info-10": "Avoir l'accord de la direction de votre structure",
    "box-info-11": "Partager les scénario",
    "box-info-12": "Pouvoir sauvegarder et modifier vos scénarios",
    "box-info-13": "Imaginer des scénario à partir d'un BGES complet fictif",
    "box-info-17": "J'affirme avoir pris connaissance de la",
    "box-info-18": "Charte",
    "box-info-19": "de",
    "box-info-21": "Être utilisateur anonyme de <em>Scénario 1point5</em> signifie :",
    "box-info-23": "Politique de confidentialité",
    "box-info-24": "Je suis habilité.e par la direction de ma structure à soumettre les données à",
    "box-info-25": "Pourquoi utiliser Scénario 1point5 ?",
    "box-title-1": "Utilisateur habilité",
    "box-title-2": "Utilisateur anonyme",
    "box-info-20": "S'identifier",
    "box-info-22": "Commencer",
    "box-info-26": "Pour démarrer un nouveau scénario, merci de confirmer les trois points suivants :"
  },
  "en": {
    "title-1": "Introduction",
    "title-2": "Why use",
    "info-1": "<em>Labos 1point5</em>'s <em>Scenario 1point5</em> is a tool developed to simulate trajectories of the carbon footprint evolution through the implementation of reduction measures.",
    "info-2": "This tool has a triple objective:",
    "info-3": "To simulate scenarios for reducing the carbon footprint by implementing measures that you have chosen from those proposed by the tool.",
    "info-4": "To share these reduction scenarios with the staff of your structure in order to facilitate collective discussions.",
    "info-5": "To provide quantitative insight for decisions that would be made within your structure.",
    "box-info-6": "Being an authorized user of <em>Scenario 1point5</em> entails that you:",
    "box-info-7": "Imagine scenarios based on your GHG inventories",
    "box-info-8": "Have access to all reduction measures",
    "box-info-9": "Have access to and export the results",
    "box-info-10": "Are authorized by the director of your structure",
    "box-info-11": "Share scenarios",
    "box-info-12": "Save and modify your scenarios",
    "box-info-13": "Imagine scenarios based on a fictional complete GHG inventory",
    "box-info-17": "I acknowledge that I have read the",
    "box-info-18": "Charter",
    "box-info-19": "of",
    "box-info-21": "Being an anonymous user of <em>Scénario 1point5</em> entails that you:",
    "box-info-23": "Privacy policy",
    "box-info-24": "I am authorized by the director of my structure to submit the data to",
    "box-info-25": "Why use Scenario 1point5 ?",
    "box-title-1": "Authorized user",
    "box-title-2": "Anonymous user",
    "box-info-20": "Log in",
    "box-info-22": "Start",
    "box-info-26": "In order to start a new scenario, please check the following three statements:"
  }
}
</i18n>

<template>
  <div>
    <my-notification :icon="'info'">
      <template #title>
        {{ $t('title-1') }}
      </template>
      <span v-html="$t('info-1')"/>
      <p style="margin-top:8px">
        {{ $t('info-2') }}
        <ul style="list-style-type: square; margin-left: 25px;">
          <li>
            {{ $t('info-3') }}
          </li>
          <li>
            {{ $t('info-4') }}
          </li>
          <li>
            {{ $t('info-5') }}
          </li>
        </ul>
      </p>
    </my-notification>
    <br/>
    <br/>
    <h3 style="text-align:center;font-size:1.1em">
      <b> {{ $t('title-2') }} <em>Scenario 1point5</em> ?</b>
    </h3>
    <div class="columns" style="margin:25px 10px">
      <div class="column">
        <div class="columns col-border-shaddow">
          <div class="column col-rotate" style="background-color:#d14d65;">
            <span class="title is-5" style="color:#fff;">{{ $t('info-9') }}</span>
          </div>
          <div class="column col-content col-content-1" @click="displayWhy=true">
            <figure class="image is-40x40">
                <i class="fa fa-object-group" style="font-size:40px;"></i>
            </figure>
            <div v-html="$t('info-10')"></div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="columns col-border-shaddow">
          <div class="column col-rotate" style="background-color:#8a4869;">
            <span class="title is-5" style="color:#fff;">{{ $t('info-11') }}</span>
          </div>
          <div class="column col-content col-content-2" @click="displayWhy=true">
            <figure class="image is-40x40">
              <i class="fa fa-puzzle-piece" style="font-size:40px;"></i>
            </figure>
            <div v-html="$t('info-12')"></div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="columns col-border-shaddow">
          <div class="column col-rotate" style="background-color:#5f548d;">
            <span class="title is-5" style="color:#fff;">{{ $t('info-13') }}</span>
          </div>
          <div class="column col-content col-content-3" @click="displayWhy=true">
            <figure class="image is-40x40">
              <i class="fa fa-podcast" style="font-size:40px;"></i>
            </figure>
            <div v-html="$t('info-14')"></div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="columns col-border-shaddow">
          <div class="column col-rotate" style="background-color:#3b589f;">
            <span class="title is-5" style="color:#fff;">{{ $t('info-15') }}</span>
          </div>
          <div class="column col-content col-content-4" @click="displayWhy=true">
            <figure class="image is-40x40">
              <i class="fa fa-hubzilla" style="font-size:40px;"></i>
            </figure>
            <div v-html="$t('info-16')"></div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="columns col-border-shaddow">
          <div class="column col-rotate" style="background-color:#0d7eb6;">
            <span class="title is-5" style="color:#fff;">{{ $t('info-17') }}</span>
          </div>
          <div class="column col-content col-content-5" @click="displayWhy=true">
            <figure class="image is-40x40">
              <i class="fa fa-tags" style="font-size:40px;"></i>
            </figure>
            <div v-html="$t('info-18')"></div>
          </div>
        </div>
      </div>
    </div>
    <br/>
    <br/>
    <div class="columns" v-if="!authStore.isAuthenticated && !module.isValid">
      <div class="column">
        <div class="boxicon is-bordered has-text-centered" data-animation="fadeInLeft" style="margin-bottom:0">
          <div class="bicon"><a class="notlink"><b-icon icon="user-plus"></b-icon></a></div>
          <h4>{{ $t('box-title-1') }}</h4>
          <br />
          <div class="content">
            <p>
              <span v-html="$t('box-info-6')" />
              <ul style="list-style:none;margin-left:1em">
                <li>
                  <span class="icon is-small"><i class="fa fa-check"></i></span>
                  {{ $t('box-info-7') }}
                </li>
                <li style="opacity:0.4;color:#ff3860">
                  <span class="icon is-small"><i class="fa fa-close"></i></span>
                  {{ $t('box-info-13') }}
                </li>
                <li>
                  <span class="icon is-small"><i class="fa fa-check"></i></span>
                  {{ $t('box-info-8') }}
                </li>
                <li>
                  <span class="icon is-small"><i class="fa fa-check"></i></span>
                  {{ $t('box-info-9') }}
                </li>
                <li>
                  <span class="icon is-small"><i class="fa fa-check"></i></span>
                  {{ $t('box-info-10') }}
                </li>
                <li>
                  <span class="icon is-small"><i class="fa fa-check"></i></span>
                  {{ $t('box-info-11') }}
                </li>
                <li>
                  <span class="icon is-small"><i class="fa fa-check"></i></span>
                  {{ $t('box-info-12') }}
                </li>
              </ul>
            </p>
            <button
              @click="authStore.openAuthModal('/administration/all-scenarios')"
              class="button is-primary is-fullwidth"
              style="margin-top:65px"
            >
              <span class="icon is-small"><i class="fa fa-user"></i></span>
              <span>{{ $t('box-info-20') }}</span>
            </button>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="boxicon is-bordered has-text-centered" data-animation="fadeInLeft" style="margin-bottom:0">
          <div class="bicon"><a class="notlink"><b-icon icon="user-secret"></b-icon></a></div>
          <h4>{{ $t('box-title-2') }}</h4>
          <br />
          <div class="content">
            <p>
              <span v-html="$t('box-info-21')" />
              <ul style="list-style:none;margin-left:1em">
                <li style="opacity:0.4;color:#ff3860">
                  <span class="icon is-small"><i class="fa fa-close"></i></span>
                  {{ $t('box-info-7') }}
                </li>
                <li>
                  <span class="icon is-small"><i class="fa fa-check"></i></span>
                  {{ $t('box-info-13') }}
                </li>
                <li>
                  <span class="icon is-small"><i class="fa fa-check"></i></span>
                  {{ $t('box-info-8') }}
                </li>
                <li>
                  <span class="icon is-small"><i class="fa fa-check"></i></span>
                  {{ $t('box-info-9') }}
                </li>
                <li style="opacity:0.4;color:#ff3860">
                  <span class="icon is-small"><i class="fa fa-close"></i></span>
                  {{ $t('box-info-10') }}
                </li>
                <li style="opacity:0.4;color:#ff3860">
                  <span class="icon is-small"><i class="fa fa-close"></i></span>
                  {{ $t('box-info-11') }}
                </li>
                <li style="opacity:0.4;color:#ff3860">
                  <span class="icon is-small"><i class="fa fa-close"></i></span>
                  {{ $t('box-info-12') }}
                </li>
              </ul>
            </p>
            <b-checkbox
              class="small"
              v-model="charteIsValid"
            >
              {{ $t('box-info-17') }}
              <router-link class="link" target="_blank" to="/labos1point5-charter">
                {{ $t('box-info-18') }}
              </router-link> {{ $t('box-info-19') }} <em>Labos 1point5</em>.
            </b-checkbox>
            <br />
            <br />
            <button
              class="button is-primary is-fullwidth"
              type="submit"
              :disabled="!charteIsValid"
              @click="$emit('is-valid')"
            >
              <span class="icon is-small"><i class="fa fa-arrow-circle-right"></i></span>
              <span>{{ $t('box-info-22') }}</span>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="columns" v-if="authStore.isAuthenticated && !module.isValid">
      <div class="column is-half is-offset-one-quarter">
        <div class="boxicon is-bordered has-text-centered" data-animation="fadeInLeft" style="margin-bottom:0">
          <div class="content">
            <p>
              {{ $t('box-info-26') }}
            </p>
            <br />
            <form>
              <b-checkbox class="small" v-model="charteIsValid">
                {{ $t('box-info-17') }} <router-link class="link" target="_blank" to="/labos1point5-charter">{{ $t('box-info-18') }}
                </router-link> {{ $t('box-info-19') }} <em>Labos 1point5</em>.
              </b-checkbox>
              <b-checkbox class="mt-10 small" v-model="confidentiality">
                {{ $t('box-info-17') }} <router-link class="link" to="/politique-de-confidentialite" target="_blank">
                {{ $t('box-info-23') }}</router-link> {{ $t('box-info-19') }} <em>Labos 1point5</em>.
              </b-checkbox>
              <b-checkbox class="mt-10 small" v-model="habilitation">
                {{ $t('box-info-24') }} <em>Labos 1point5</em>.
              </b-checkbox>
              <br />
              <br />
              <button
                @click="$emit('is-valid')"
                class="button is-primary is-fullwidth"
                :disabled="!charteIsValid || !habilitation || !confidentiality"
                type="submit"
              >
                <span class="icon is-small"><i class="fa fa-arrow-circle-right"></i></span>
                <span>{{ $t('box-info-22') }}</span>
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <b-modal
      :active.sync="displayWhy"
      has-modal-card
      :width="1000"
    >
      <div class="modal-card" style="width: 1000px;">
        <header class="modal-card-head">
          <p class="modal-card-title">
            {{ $t('box-info-25') }}
          </p>
        </header>
        <section class="modal-card-body">
          <why-scenario-1point5 />
        </section>
      </div>
    </b-modal>
  </div>
</template>

<script>
import { useAdminStore } from '@/stores/admin.js'
import { useAuthenticationStore } from '@/stores/authentication.js'

export default {
  name: 'Introduction',
  props: {
    module: {
      type: Object,
      default: null
    }
  },
  components: {
    'my-notification': () => import('@/components/MyNotification.vue'),
    'why-scenario-1point5': () => import('@/components/scenario/docs/WhyScenario1point5.vue')
  },
  data () {
    return {
      charteIsValid: false,
      habilitation: false,
      confidentiality: false,
      displayWhy: false
    }
  },
  setup () {
    const adminStore = useAdminStore()
    const authStore = useAuthenticationStore()
    return { adminStore, authStore }
  }
}
</script>

<style lang="css" scoped>
  .boxicon .content {
    text-align: justify !important;
  }
  .col-border-shaddow {
    -webkit-box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    background-color:#fff;
    text-align: center;
  }
  .col-rotate {
    transform:rotate(-90deg); width:185px;
    height: 48px;
    margin-top: 48px;
    margin-left: -56px;
    margin-right: -56px;
    text-align:center;
    border-radius: 15%;
  }
  .col-content {
    padding-top:4px;
    padding-bottom:4px;
    cursor:pointer;
    margin:auto;
  }
  .col-content-1 {
    color:#d14d65;
  }
  .col-content-1:hover {
    background-color:#d14d65;
    opacity: .8;
    color: #fff;
  }
  .col-content-2 {
    color:#8a4869;
  }
  .col-content-2:hover {
    background-color:#8a4869;
    opacity: .8;
    color: #fff;
  }
  .col-content-3 {
    color:#5f548d;
  }
  .col-content-3:hover {
    background-color:#5f548d;
    opacity: .8;
    color: #fff;
  }
  .col-content-4 {
    color:#3b589f;
  }
  .col-content-4:hover {
    background-color:#3b589f;
    opacity: .8;
    color: #fff;
  }
  .col-content-5 {
    color:#0d7eb6;
  }
  .col-content-5:hover {
    background-color:#0d7eb6;
    opacity: .8;
    color: #fff;
  }
</style>
