<i18n>
{
  "fr": {
    "title-1": "Introduction",
    "title-2": "Pourquoi rejoindre la plateforme",
    "info-1": "<em>Transition 1point5</em>, développé par <em>Labos 1point5</em>, est un outil permettant de s'inspirer des bonnes pratiques dans les autres {structures} du réseau mais également de devenir acteur et partager sa propre expérience.",
    "info-2": "A travers cet outil l'objectif est triple :",
    "info-9": "S'engager",
    "info-10": "<b>S'engager</b><br/>dans la réduction de l'empreinte environnementale.",
    "info-11": "Partager",
    "info-12": "<b>Partager</b><br/> les expériences entre {structures}.",
    "info-13": "Tenir compte",
    "info-14": "<b>Tenir compte</b><br/>des spécificités<br/> {done} {structure} .",
    "info-15": "Faciliter",
    "info-16": "<b>Faciliter</b> le passage à l’action {dones} {structures}.<br/><br/>",
    "info-17": "Contribuer",
    "info-18": "<b>Contribuer</b> à un champ scientifique émergent.",
    "box-info-6": "Être acteur de <em>Transition 1point5</em> signifie :",
    "box-info-7": "Pouvoir ajouter, modifier ses propres actions",
    "box-info-10": "Avoir l'accord de la direction de votre {structure}",
    "box-info-11": "Partager son expérience avec d'autres {structures}",
    "box-info-12": "S'inspirer les actions des autres {structures}",
    "box-info-13": "Explorer les actions du réseau",
    "box-info-14": "Entrer en contact avec {thes} {structures} du réseau",
    "box-info-17": "Avoir accepté la",
    "box-info-18": "Charte",
    "box-info-19": "de",
    "box-info-transition-charter-1": "Avoir accepté la",
    "box-info-transition-charter-2": "Charte du réseau",
    "box-info-transition-charter-3": "de",
    "box-info-20": "S'identifier",
    "box-info-21": "Être observateur de <em>Transition 1point5</em> signifie :",
    "box-info-22": "Commencer",
    "box-info-23": "Politique de confidentialité",
    "box-info-24": "Je suis habilité.e par la direction de {my} {structure} à soumettre les données à",
    "box-info-25": "Pourquoi utiliser Transition 1point5 ?",
    "box-info-26": "Pour rejoindre le réseau Transition 1point5",
    "box-info-28": "merci de confirmer les trois points suivants",
    "box-info-29": "Merci également de vérifier:",
    "box-info-30": "que vous êtes affilié à {one} {structure}",
    "box-info-31": "que vous avez soumis un ou plusieurs BGES (même partiellement)",
    "box-title-1": "Acteur habilité",
    "box-title-2": "Observateur du réseau"
  },
  "en": {}
}
</i18n>

<template>
  <div>
    <why-wrapper></why-wrapper>
    <!-- User isn't authenticated -->
    <div v-if="!canAddActions">
      <div class="columns" v-if="!isAuthenticated && !module.isAnonymous">
        <div class="column is-6" v-if="!isAuthenticated">
          <div
            class="boxicon is-bordered has-text-centered"
            data-animation="fadeInLeft"
            style="margin-bottom: 0"
          >
            <div class="bicon">
              <a class="notlink"><b-icon icon="user-plus"></b-icon></a>
            </div>
            <h4>{{ $t('box-title-1') }}</h4>
            <br />
            <div class="content">
              <p>
                <span v-html="$t('box-info-6')" />
              </p>

              <ul style="list-style: none; margin-left: 1em">
                <li>
                  <span class="icon is-small"><i class="fa fa-check"></i></span>
                  {{ $t('box-info-7') }}
                </li>
                <li>
                  <span class="icon is-small"><i class="fa fa-check"></i></span>
                  {{ $t('box-info-10') }}
                </li>
                <li>
                  <span class="icon is-small"><i class="fa fa-check"></i></span>
                  {{ $t('box-info-11') }}
                </li>
                <li>
                  <span class="icon is-small"><i class="fa fa-check"></i></span>
                  {{ $t('box-info-13') }}
                </li>
                <li>
                  <span class="icon is-small"><i class="fa fa-check"></i></span>
                  {{ $t('box-info-14') }}
                </li>
              </ul>
              <br />

              <button
                class="button is-primary is-fullwidth"
                style="margin-top: 75px"
                @click="openAuthModal"
              >
                <span class="icon is-small"><i class="fa fa-user"></i></span>
                <span>{{ $t('box-info-20') }}</span>
              </button>
            </div>
          </div>
        </div>
        <div class="column is-6" v-if="!module.isAnonymous">
          <div
            class="boxicon is-bordered has-text-centered"
            data-animation="fadeInLeft"
            style="margin-bottom: 0"
          >
            <div class="bicon">
              <a class="notlink"><b-icon icon="user-secret"></b-icon></a>
            </div>
            <h4>{{ $t('box-title-2') }}</h4>
            <br />
            <div class="content">
              <p>
                <span v-html="$t('box-info-21')" />
              </p>

              <ul style="list-style: none; margin-left: 1em">
                <li style="opacity:0.4;color:#ff3860">
                  <span class="icon is-small"><i class="fa fa-close"></i></span>
                  {{ $t('box-info-7') }}
                </li>
                <li style="opacity:0.4;color:#ff3860">
                  <span class="icon is-small"><i class="fa fa-close"></i></span>
                  {{ $t('box-info-10') }}
                </li>
                <li style="opacity:0.4;color:#ff3860">
                  <span class="icon is-small"><i class="fa fa-close"></i></span>
                  {{ $t('box-info-11') }}
                </li>
                <li>
                  <span class="icon is-small"><i class="fa fa-check"></i></span>
                  {{ $t('box-info-13') }}
                </li>
                <li>
                  <span class="icon is-small"><i class="fa fa-check"></i></span>
                  {{ $t('box-info-14') }}
                </li>
              </ul>
              <br />

              <b-checkbox class="small" v-model="charteIsValid">
                {{ $t('box-info-17') }}
                <router-link
                  class="link"
                  target="_blank"
                  to="/labos1point5-charter"
                >
                  {{ $t('box-info-18') }}
                </router-link>
                {{ $t('box-info-19') }} <em>Labos 1point5</em>.
              </b-checkbox>
              <br />
              <b-checkbox class="small" v-model="transitionCharteIsValid">
                {{ $t('box-info-transition-charter-1') }}
                <router-link
                  class="link"
                  target="_blank"
                  to="/transition-1point5/charter"
                  >{{ $t('box-info-transition-charter-2') }}
                </router-link>
                {{ $t('box-info-transition-charter-3') }}
                <em>Transition 1point5</em>.
              </b-checkbox>
              <br />
              <br />
              <button
                class="button is-primary is-fullwidth"
                type="submit"
                :disabled="!(charteIsValid & transitionCharteIsValid)"
                @click="$emit('is-anonymous')"
              >
                <span class="icon is-small"
                  ><i class="fa fa-arrow-circle-right"></i
                ></span>
                <span>{{ $t('box-info-22') }}</span>
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- The user is authenticated
      We need to make sure she agrees on some general rules
    -->
      <div class="columns" v-if="isAuthenticated">
        <div class="column is-6" v-if="isAuthenticated && !module.isValid">
          <div
            class="boxicon is-bordered has-text-centered"
            data-animation="fadeInLeft"
            style="margin-bottom: 0"
          >
            <div class="bicon">
              <a class="notlink"><b-icon icon="user-plus"></b-icon></a>
            </div>
            <h4>{{ $t('box-title-1') }}</h4>
            <br />

            <div class="content">
              <p>{{ $t('box-info-26') }}, {{ $t('box-info-28') }}</p>
              <br />
              <form>
                <b-checkbox class="small" v-model="charteIsValid">
                  {{ $t('box-info-17') }}
                  <router-link
                    class="link"
                    target="_blank"
                    to="/labos1point5-charter"
                    >{{ $t('box-info-18') }}
                  </router-link>
                  {{ $t('box-info-19') }} <em>Labos 1point5</em>.
                </b-checkbox>
                <br />
                <b-checkbox class="small" v-model="transitionCharteIsValid">
                  {{ $t('box-info-transition-charter-1') }}
                  <router-link
                    class="link"
                    target="_blank"
                    to="/transition-1point5/charter"
                    >{{ $t('box-info-transition-charter-2') }}
                  </router-link>
                  {{ $t('box-info-transition-charter-3') }}
                  <em>Transition 1point5</em>.
                </b-checkbox>
                <br />
                <b-checkbox class="mt-10 small" v-model="confidentiality">
                  {{ $t('box-info-17') }}
                  <router-link
                    class="link"
                    to="/politique-de-confidentialite"
                    target="_blank"
                  >
                    {{ $t('box-info-23') }}</router-link
                  >
                  {{ $t('box-info-19') }} <em>Labos 1point5</em>.
                </b-checkbox>
                <br />
                <b-checkbox class="mt-10 small" v-model="habilitation">
                  {{ $t('box-info-24') }} <em>Labos 1point5</em>.
                </b-checkbox>
                <br />
                <hr />
                <p>
                  {{ $t('box-info-29') }}
                </p>
                <b-message :type="labInfoType" has-icon>
                  {{ $t('box-info-30') }}
                </b-message>

                <b-message :type="ghgisInfoType" has-icon>
                  {{ $t('box-info-31') }}
                </b-message>

                <br />
                <button
                  @click="$emit('is-valid')"
                  class="button is-primary is-fullwidth"
                  :disabled="
                    !charteIsValid ||
                    !habilitation ||
                    !confidentiality ||
                    !hasLab ||
                    !hasSubmittedGHGIs
                  "
                  type="submit"
                >
                  <span class="icon is-small"
                    ><i class="fa fa-arrow-circle-right"></i
                  ></span>
                  <span>{{ $t('box-info-22') }}</span>
                </button>
              </form>
            </div>
          </div>
        </div>
        <div class="column is-6" v-if="!module.isAnonymous">
          <div
            class="boxicon is-bordered has-text-centered"
            data-animation="fadeInLeft"
            style="margin-bottom: 0"
          >
            <div class="bicon">
              <a class="notlink"><b-icon icon="user-secret"></b-icon></a>
            </div>
            <h4>{{ $t('box-title-2') }}</h4>
            <br />
            <div class="content">
              <p>
                <span v-html="$t('box-info-21')" />
              </p>
              <b-checkbox class="small" v-model="charteIsValid">
                {{ $t('box-info-17') }}
                <router-link
                  class="link"
                  target="_blank"
                  to="/labos1point5-charter"
                >
                  {{ $t('box-info-18') }}
                </router-link>
                {{ $t('box-info-19') }} <em>Labos 1point5</em>.
              </b-checkbox>
              <br />
              <b-checkbox class="small" v-model="transitionCharteIsValid">
                {{ $t('box-info-transition-charter-1') }}
                <router-link
                  class="link"
                  target="_blank"
                  to="/transition-1point5/charter"
                  >{{ $t('box-info-transition-charter-2') }}
                </router-link>
                {{ $t('box-info-transition-charter-3') }}
                <em>Transition 1point5</em>.
              </b-checkbox>
              <br />
              <br />
              <button
                class="button is-primary is-fullwidth"
                type="submit"
                :disabled="!(charteIsValid && transitionCharteIsValid)"
                @click="$emit('is-anonymous')"
              >
                <span class="icon is-small"
                  ><i class="fa fa-arrow-circle-right"></i
                ></span>
                <span>{{ $t('box-info-22') }}</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { Background } from '@/mixins/background.js'

import { useAuthenticationStore } from '@/stores/authentication.js'
import { useTransitionStore } from '@/stores/transition'

export default {
  name: 'Introduction',
  props: {
    module: {
      type: Object,
      default: null
    },
    hasLab: {
      type: Boolean,
      defaut: false
    },
    hasSubmittedGHGIs: {
      type: Boolean,
      default: false
    }
  },
  components: {
    'why-wrapper': () => import('@/components/transition/docs/WhyWrapper.vue')
  },
  mixins: [Background],
  data () {
    return {
      charteIsValid: false,
      transitionCharteIsValid: false,
      habilitation: false,
      confidentiality: false,
      displayWhy: false
    }
  },
  computed: {
    labInfoType: function () {
      return this.hasLab ? 'is-success' : 'is-danger'
    },
    ghgisInfoType: function () {
      return this.hasSubmittedGHGIs ? 'is-success' : 'is-danger'
    },
    isAuthenticated: function () {
      return this.authStore.isAuthenticated
    },
    canAddActions: function () {
      // if already add action we don't need to accept anything here
      return this.transitionStore.canAddActions
    }
  },
  methods: {
    openAuthModal () {
      this.authStore.openAuthModal('/administration/transition-maps')
    }
  },
  setup () {
    const authStore = useAuthenticationStore()
    const transitionStore = useTransitionStore()
    return { authStore, transitionStore }
  },
  mounted () {
    // populate the store to check the access needs
    this.transitionStore.init()
  }
}
</script>

<style lang="css" scoped>
.boxicon .content {
  text-align: justify !important;
}
</style>
