<i18n>
{
  "fr": {
    "title-1": "1. Unité fonctionnelle",
    "info-1": "Les infrastructures d'observation astronomiques, qu'elles soient terrestres ou spatiales, ont pour fonction de produire des données d'observation du ciel pour la communauté mondiale de recherche en astronomie. Pour évaluer l'utilisation d'une infrastructure spécifique (télescope ou satellite) par les membres d'un laboratoire, l'unité fonctionnelle choisie est la fraction des auteurs ayant publié des articles dans l’année citant ladite infrastructure qui appartiennent au laboratoire effectuant le BGES. Ces informations étant accessibles publiquement, elles sont pré-calculées à l'avance (voir ci-dessous) et n'ont pas besoin d'être renseignées dans GES 1point5 par l'utilisateur.",
    "title-2": "2. Méthodologie",
    "title-2-1": "Empreinte carbone annuelle des infrastructures",
    "info-2-1": "Les émissions GES attribuées à une infrastructure astronomique peuvent se diviser en 2 parties : <ul style='list-style-type:square;margin-left:25px'><li> Les émissions liées à la phase de construction (qui inclue également la phase de lancement dans le cas d'un satellite)</li><li> Les émissions liées aux opérations annuelles (consommation d'énergie, maintenance...)</li></ul>Les estimations de ces émissions GES pour les principales infrastructures astronomiques sont issues des travaux de Knödlseder et al. (2022) qui se basent sur des bilans GES publiés ainsi que des ratios monétaires et massiques.  <br/> Ces estimations sont ensuite utilisées dans GES 1point5 pour déterminer l'empreinte carbone annuelle d'une infrastructure en amortissant les émissions GES de la construction sur une période de 38 ans pour les télescopes et 18 ans pour les satellites. Ces périodes d'amortissement correspondent aux durées de vie moyenne des télescopes et satellites d'observation astronomique (Knödlseder et al. soumis). <br/> Par conséquent, si l’âge de l'infrastructure considérée est inférieur à la période d'amortissement son empreinte annuelle est :",
    "info-2-1b": "Dans le cas contraire, seul l'empreinte des opérations annuelles est prise en compte.",
    "title-2-2": "Comment la répartition est faite ?",
    "info-2-2": "La répartition des émissions d’une infrastructure au sein de la communauté se fait sur la base de l’unité fonctionnelle décrite plus haut à savoir la contribution relative des membres d’un laboratoire à l’utilisation de ladite infrastructure sur l’année du BGES. Pour déterminer ces contributions relatives, nous utilisons la méthode bibliométrique employée dans Knödlseder et al (2022) qui calcule le rapport entre les auteurs du laboratoire ayant publié des articles citant l’infrastructure et l'ensemble des auteurs à l'échelle mondiale ayant également publié des articles citant cette même infrastructure. Ce rapport est calculé par des requêtes à la base de données <a href='https://ui.adsabs.harvard.edu' class='link' target='_blank'>ADS</a>. Le détail des requêtes et les codes employés pour les mesures bibliométriques sont centralisés dans le dépôt <a href='https://framagit.org/mcoriat/astrocarbon' class='link' target='_blank'>AstroCarbon</a>. Les fichiers résultats contenant les pourcentages d’utilisation des principales infrastructures attribuées aux laboratoires de recherche en astronomie sont également consultables dans ce dépôt. <br /> Pour un laboratoire donné l’empreinte carbone annuelle globale liée à l’utilisation de ces infrastructures se calcule finalement comme suit :",
    "title-3": "3. Évolution annuelle",
    "info-3": "Afin de suivre les mises en service et arrêts des d'infrastructures ainsi que les améliorations des estimations GES des phases de construction et d'opérations, les empreinte carbone des infrastructures individuelles décrites précédemment sont mis à jour annuellement. Les fichiers resultats contenant les attributions par laboratoire et par infratsructure sont prépalculés en Janvier de chaque année pour l'année écoulée.",
    "title-4": "4. Références",
    "ref-4-1": "Knödlseder, J., Brau-Nogué, S., Coriat, M., Garnier, P., Hughes, A., Martin, P. & Tibaldo, L. <i>Estimate of the carbon footprint of astronomical research infrastructures</i>. Nat. Astron. 6, 503–513 (2022). Preprint at arXiv: <a target='_blank' class='link' href='https://arxiv.org/abs/2201.08748'>https://arxiv.org/abs/2201.08748</a>",
    "ref-4-2": "Knödlseder, J., et al. <i>Estimation of future annual carbon footprints of astronomical research infrastructures</i>, submitted"
  },
  "en": {
    "title-1": "1. Functional unit",
    "info-1": "The function of astronomical observation facilities, whether ground-based or space-based, is to produce sky observation data for the worldwide astronomical research community. To evaluate the use of a specific facility (telescope or satellite) by the members of a laboratory, the functional unit chosen is the fraction of authors having published articles in the year citing the said facility who belong to the laboratory carrying out the GHG inventory. As this information is publicly available, it is pre-calculated in advance (see below) and does not need to be entered into GES 1point5 by the user.",
    "title-2": "2. Methodology",
    "title-2-1": "Annual carbon footprint of facilities",
    "info-2-1": "The GHG emissions attributed to an astronomical facility can be divided into 2 parts: <ul style='list-style-type:square;margin-left:25px'><li> Emissions related to the construction phase (which also includes the launch phase in the case of a satellite) )</li><li> Emissions related to annual operations (energy consumption, maintenance, etc.) </li></ul> Estimates of these GHG emissions for the main astronomical facilities are taken from the work of Knödlseder et al (2022), which is based on published GHG inventories as well as monetary and mass ratios.  <br/> These estimates are then used in GES 1point5 to determine the annual carbon footprint of a facility by spreading the GHG emissions from construction over a period of 38 years for ground-based telescopes and 18 years for satellites. These depreciation periods correspond to the average lifetimes of astronomical observation telescopes and satellites. (Knödlseder et al. soumis). <br/> Consequently, if the age of the facility under consideration is less than the depreciation period, its annual footprint is:",
    "info-2-1b": "Otherwise, only the footprint of annual operations is taken into account.",
    "title-2-2": "How is the distribution done?",
    "info-2-2": "The distribution of the emissions of a facility within the community is based on the functional unit described above, i.e. the relative contribution of the members of a laboratory to the use of the said facility over the year of the GHG inventory. To determine these relative contributions, we use the bibliometric method employed in Knödlseder et al (2022), which calculates the ratio between the laboratory's authors who have published articles citing the facility and all the authors worldwide who have also published articles citing this same facility. This ratio is calculated by queries to the <a href='https://ui.adsabs.harvard.edu' class='link' target='_blank'>ADS</a> database. Details of the queries and the codes used for bibliometric measurements are centralised in the repository <a href='https://framagit.org/mcoriat/astrocarbon' class='link' target='_blank'>AstroCarbon</a>. The results files containing the percentages of use of the main facilities allocated to astronomy research laboratories can also be consulted in this repository. For a given laboratory, the overall annual carbon footprint associated with the use of these facilities is calculated as follows:",
    "title-3": "3. Annual evolution",
    "info-3": "In order to monitor the commissioning and decommissioning of facilities as well as improvements in the GHG estimates for the construction and operation phases, the carbon footprints of the individual facilities described above are updated annually. The results files containing the attributions by laboratory and by facility are pre-calculated in January of each year for the previous year.",
    "title-4": "4. References",
    "ref-4-1": "Knödlseder, J., Brau-Nogué, S., Coriat, M., Garnier, P., Hughes, A., Martin, P. & Tibaldo, L. <i>Estimate of the carbon footprint of astronomical research infrastructures</i>. Nat. Astron. 6, 503–513 (2022). Preprint at arXiv: <a target='_blank' class='link' href='https://arxiv.org/abs/2201.08748'>https://arxiv.org/abs/2201.08748</a>",
    "ref-4-2": "Knödlseder, J., et al. <i>Estimation of future annual carbon footprints of astronomical research infrastructures</i>, submitted"
  }
}
</i18n>

<template>
  <div>
    <b-notification :closable="false">
      <strong>{{ $t('title-1') }}</strong>
        <br />
        <span v-html="$t('info-1')" />
    </b-notification>
    <b-notification :closable="false">
      <strong>{{ $t('title-2') }}</strong>
      <br />
      <strong><em>{{ $t('title-2-1') }}</em></strong>
      <br />
      <span v-html="$t('info-2-1')" />
      <br /><br />
      <vue-mathjax :formula="formula1" />
      <br />
      <span v-html="$t('info-2-1b')" />
      <br /><br />
      <strong><em>{{ $t('title-2-2') }}</em></strong>
      <br />
      <span v-html="$t('info-2-2')" />
      <br /><br />
      <vue-mathjax :formula="formula2" />
    </b-notification>
    <b-notification :closable="false">
      <strong>{{ $t('title-3') }}</strong>
      <br />
      <span v-html="$t('info-3')" />
    </b-notification>
    <b-notification :closable="false">
      <strong>{{ $t('title-4') }}</strong>
      <br />
      <ul style='list-style-type:square;margin-left:25px'>
        <li> <span v-html="$t('ref-4-1')" /> </li>
        <li> <span v-html="$t('ref-4-2')" /> </li>
      </ul>
    </b-notification>
  </div>
</template>

<script>
import { VueMathjax } from 'vue-mathjax'

export default {
  name: 'HelpCalculatingMethod',
  components: {
    'vue-mathjax': VueMathjax
  },
  data () {
    return {
      formula1: '$$EC_{\\rm infra} = {GES_{\\rm construction} \\over {\\rm amortissement}} + GES_{\\rm opérations}$$',
      formula2: '$$EC_{\\rm labo} = \\sum_i \\left( EC_{\\rm infra_i} \\times \\%\\text{utilisation}_{\\rm infra_i}^{\\rm labo} \\right) $$'
    }
  }
}
</script>
