/* ==========================================================================
Hero styles
========================================================================== */

.has-bg-img { background: url('~@/assets/background.jpg') top center; background-size:cover; }
.has-bg-img-home { background: url('~@/assets/background.jpg') top center; background-size:cover; }

.hero-body {
    padding-top: 3rem;
    padding-bottom: 1.5rem;
    .title, .subtitle {
        font-family: 'Ubuntu', sans-serif;
    }
    .title {
        &.is-bold {
            font-weight: 700;
        }
    }
    .subtitle {
        &.is-muted {
            color: $muted-grey;
        }
    }
    .main-title {
        color:#fff;
        letter-spacing:7px;
        line-height:1.5;
        font-weight:500;
        margin:110px auto 0;
        max-width:800px;
        font-size:2em;
    }
    .main-subtitle {
        color: #f5f5f5;
        font-size: medium;
        max-width: 670px;
        margin: 25px auto 30px auto !important;
    }
}

.hero-foot {
    img.partner-logo {
        height: 70px;
    }
}
