<i18n>
{
  "fr": {
    "info-1": "Le cheptel désigne l'ensemble des <strong>animaux d'élevage</strong> d'une exploitation agricole ou plus largement d'une région ou d'un pays. <br />L’élevage est l'ensemble des activités qui assurent l'entretien et la multiplication des animaux pour l'usage des humains."
  },
  "en": {
    "info-1": "Livestock refers to all <strong>livestock</strong> on a farm or, more broadly, in a region or country. <br />Animal husbandry is the set of activities that ensure the maintenance and multiplication of animals for human use."
  }
}
</i18n>

<template>
  <div class="columns is-flex is-vcentered">
    <div class="column">
      <b-notification :closable="false">
        <span v-html="$t('info-1')" />
      </b-notification>
    </div>
    <div class="column is-2">
      <img src="@/components/carbon/forms/ractivities/components/livestock/image.png">
    </div>
  </div>
</template>

<script>
export default {
  name: 'CardHelp'
}
</script>
