<i18n>
{
  "fr": {
    "title-1": "1. Méthodologie",
    "title-1-1": "Facteurs d’émission (FE)",
    "info-1-1": "Les facteurs d'émissions utilisés sont ceux d'anciennes versions de la Base Carbone®.",
    "title-1-2": "Comment la répartition est faite ?",
    "info-1-2": "L'impact des cheptels est affecté au poste 1.3 du scope 1 du bilan GES réglementaire et du GHG Protocol."
  },
  "en": {
    "title-1": "1. Methodology",
    "title-1-1": "Emission factors (EF)",
    "info-1-1": "The emissions factors used are those from previous versions of Base Carbone®.",
    "title-1-2": "How is it distributed?",
    "info-1-2": "The impact of livestock is assigned to item 1.3 of scope 1 of the GHG Protocol and regulatory GHG balance sheets."
  }
}
</i18n>

<template>
  <div>
    <b-notification :closable="false">
      <strong>{{ $t('title-1') }}</strong>
      <br />
      <strong><em>{{ $t('title-1-1') }}</em></strong>
      <br />
      <span v-html="$t('info-1-1')" />
      <br />
      <br />
      <strong><em>{{ $t('title-1-2') }}</em></strong>
      <br />
      <span v-html="$t('info-1-2')" />
    </b-notification>
  </div>
</template>

<script>
export default {
  name: 'HelpCalculatingMethod'
}
</script>
