
<template>
  <div>
    <all-scenarios v-if="activeModule==='all-scenarios'"/>
  </div>
</template>

<script>
export default {
  name: 'Wrapper',
  props: {
    activeModule: {
      type: String,
      required: true
    }
  },
  components: {
    'all-scenarios': () => import('@/components/scenario/admin/AllScenarios.vue')
  }
}
</script>
