<i18n>
{
  "fr": {
    "info-1": "Si votre laboratoire est sous tutelle <strong>INRAE</strong>, vous pouvez demander à la Direction Financement et Achats (DiFA) un export des missions de votre laboratoire. Le fichier fournit sera au format .xlsx. <br /> Pour l'enregistrer au bon format, ouvrez le fichier sous <a href='https://www.openoffice.org/fr/' class='link' target='_blank'>OpenOffice</a> et faites « Enregistrer sous ». Sélectionnez alors « Texte CSV (*.csv) », puis « Unicode (UTF-8) » et « , » comme séparateur de chaîne de caractères.",
    "info-2": "Le fichier ainsi exporté peut ếtre importé dans GES 1point5. <br/> Notez cependant que l’export obtenu génère souvent de nombreuses anomalies à l’import dans GES 1point5 dû fait d'information manquante.",
    "info-3": "<strong>« Client » </strong> : l'identifiant HAVAS du laboratoire ;",
    "info-4": "<strong>« Activité » </strong> : cette colonne peut prendre une valeur parmi",
    "info-5": "<strong>« Date retour/fin » </strong> : une date au format jj/mm/aaaa ;",
    "info-6": "<strong>« Montant Net TTC » </strong> : montant du billet, cette information permet de ne pas prendre en compte les billets remboursés ;",
    "info-7": "<strong>« Routing » </strong> : ensemble des étapes de la missions ;",
    "info-8": "<strong>« Type Trajet » </strong> : si l'aller et le retour sont identiques, renseignez « OUI », sinon « NON » ;",
    "info-9": "<strong>« Trajet complet » </strong> : ensemble des étapes de la missions ;"
  },
  "en": {
    "info-1": "If your laboratory is under <strong>INRAE</strong> supervision, you can ask the Financing and Purchasing Department (DiFA) to export your laboratory's travels. The file supplied will be in the format .xlsx. <br /> To save it in the correct format, open the file with <a href='https://www.openoffice.org/fr/' class='link' target='_blank'>OpenOffice</a> and choose « Save as ». Then select « CSV Text (*.csv) », then « Unicode (UTF-8) » and « , » as string separator.",
    "info-2": "The exported file can be imported into GES 1point5.  Please note, however, that the resulting export often generates numerous anomalies when imported into GES 1point5 due to missing information.",
    "info-3": "<strong>« Client » </strong> : the HAVAS ID of the laboratory ;",
    "info-4": "<strong>« Activity » </strong> : this column can take a value among",
    "info-5": "<strong>« Return/end date » </strong> : a date in dd / mm / yyyy format ;",
    "info-6": "<strong>« Net amount incl. VAT » </strong> : amount of the ticket, this information makes it possible to exclude refunded tickets. ;",
    "info-7": "<strong>« Routing » </strong> : all stages of the travel ;",
    "info-8": "<strong>« Route type » </strong> : if the outward and return trips are identical, enter « YES », otherwise « NO » ; ;",
    "info-9": "<strong>« Full route » </strong> : all stages of the travel ;"
  }
}
</i18n>

<template>
  <div>
    <span v-html="$t('info-1')"></span>
    <br /><br />
    <div class="has-text-centered">
      <img src="@/components/carbon/forms/travels/formats/havas/openOffice.png" width="800" />
    </div>
    <br />
    <span v-html="$t('info-2')"></span>
    <br />
    <br />
    <ul style="list-style-type:square;margin-left:25px">
      <li v-html="$t('info-3')"></li>
      <li><span v-html="$t('info-4')" /> {{ TRANSPORTATIONS.map(value => $t(value)) }} ;</li>
      <li v-html="$t('info-5')"></li>
      <li v-html="$t('info-6')"></li>
      <li v-html="$t('info-7')"></li>
      <li v-html="$t('info-8')"></li>
      <li v-html="$t('info-9')"></li>
    </ul>
  </div>
</template>

<script>
import Travel from '@/models/carbon/Travel.js'

export default {
  name: 'Help',
  computed: {
    TRANSPORTATIONS: function () {
      return Travel.transportations
    }
  }
}
</script>
