<i18n>
{
  "fr": {
    "2020-note": "Pour le <strong>calcul des émissions de 2020</strong>, l’année comprend <strong>27 semaines</strong> de déplacements (41 semaines travaillées – 14 semaines de confinement) : l’hypothèse simplificatrice est que, pendant les confinements, aucun agent n’a eu d’astreinte sur site et qu’aucun agent n’a pris de congés.",
    "2021-note": "Pour le <strong>calcul des émissions de 2021</strong>, l’année comprend <strong>37 semaines</strong> de déplacements (41 semaines travaillées – 4 semaines de confinement) : l’hypothèse simplificatrice est faite que pendant le 3ème confinement, aucun agent n’a eu d’astreinte sur site et qu’aucun agent n’a pris de congés."
  },
  "en": {
    "2020-note": " For the <strong>calculation of 2020 emissions</strong>, the year comprises <strong>27 weeks</strong> of commuting (41 weeks of work  minus 14 lock-down weeks) : the simplified assumption is that, during the lock-downs in France, there was no on-premise call and no leave of the staff members",
    "2021-note": "For the <strong>calculation of 2021 emissions</strong>, the year comprises <strong>37 weeks</strong> of commuting (41 weeks of work  minus 4 lock-down weeks) : the simplified assumption is that, during the lock-downs in France, there was no on-premise call and no leave of the staff members"
  }
}
</i18n>

<template>
  <div>
    <b-notification
      v-if="year===2020"
      :closable="false"
    >
      <span v-html="$t('2020-note')" />
    </b-notification>
    <b-notification
      v-if="year===2021"
      :closable="false"
    >
      <span v-html="$t('2021-note')" />
    </b-notification>
  </div>
</template>

<script>

export default {
  name: 'CovidInformation',
  props: {
    year: {
      type: Number,
      default: new Date().getFullYear()
    }
  }
}
</script>
