<i18n>
{
  "fr": {
    "summary-title": "Questionnaire",
    "simulation-title": "Résumé de la dernière simulation",
    "summary-1": "Merci d'avoir répondu à ce questionnaire anonyme.",
    "summary-2": "Nombre de jours de présence par semaine sur site",
    "summary-3": "Sur une journée-type : ",
    "summary-4": "Sur une seconde journée-type : ",
    "summary-5": "Pas de seconde journée-type",
    "summary-6": "repas pris à la cafétéria / restaurant du campus",
    "summary-7": "Sur 2 semaines-types",
    "position": "Statut",
    "researcher": "chercheur.e ou enseignant.e chercheur.e",
    "engineer": "ingénieur.e, technicien.ne, assistant.e ingénieur.e, personnel d'appui à la recherche",
    "student": "doctorant.e ou postdoctorant.e",
    "engine": "motorisation",
    "no-persons": "nombre de personnes"
  },
  "en": {
    "summary-title": "Survey",
    "simulation-title": "Summary of your last simulation",
    "summary-1": "Thank you for responding to this anonymous survey.",
    "summary-2": "Number of days on site per week",
    "summary-3": "During a standard commute: ",
    "summary-4": "During a second standard commute: ",
    "summary-5": "No second standard commute",
    "summary-6": "meals at the campus cafeteria / restaurant",
    "summary-7": "On 2 typical weeks",
    "position": "Position",
    "researcher": "a researcher or a professor",
    "engineer": "an engineer, a technician, an assistant engineer, research support staff",
    "student": "a PhD student or a Post-Doc",
    "engine": "engine",
    "no-persons": "number of persons"
  }
}
</i18n>

<template>
  <div>
    <b-notification
      :has-icon="true"
      :icon="'info'"
      :closable="false"
    >
      <strong>
        <span v-if="isSimulation">{{ $t('simulation-title') }}</span>
        <span v-else>{{ $t('summary-title') }} {{ year }}</span>
      </strong>
      <br />
      <strong v-if="isSurvey">{{ $t('summary-1') }}</strong>
      <br v-if="isSurvey"/>
      <span v-if="!isSimulation">{{ $t('position') }}: {{ $t(survey.position) }}</span>
      <br v-if="!isSimulation"/>
      {{ $t('summary-2') }} : {{ survey.nWorkingDay }}
    </b-notification>
    <b-notification
      v-if="commutesActive && survey.sections.length > 0"
      :has-icon="true"
      :icon="'bicycle'"
      :closable="false"
    >
      {{ $t('summary-3' )}} {{ commuteDay1Summary }}
      <br />
      <span v-if="sections2.length > 0">
        {{ $t('summary-4' )}} {{ commuteDay2Summary }}
      </span>
      <span v-else>
        {{ $t('summary-5' )}}
      </span>
    </b-notification>
    <b-notification
      v-if="foodsActive && survey.meals.length > 0"
      :has-icon="true"
      :icon="'cutlery'"
      :closable="false"
    >
      <strong>{{ $t('summary-7') }} ({{ nMeals }} {{ $t('meals') }})</strong>
      <br />
      <span v-if="!isSimulation">
        {{ survey.nCateringMeal }} {{ $t('summary-6' )}}
      </span>
      <br v-if="!isSimulation"/>
      {{ foodSummary }}
    </b-notification>
    <covid-information
      v-if="isSurvey"
      :year="year"
    />
  </div>
</template>

<script>

export default {
  name: 'Summary',
  props: {
    survey: {
      type: Object,
      default: null
    },
    commutesActive: {
      type: Boolean,
      default: true
    },
    foodsActive: {
      type: Boolean,
      default: true
    },
    isSimulation: {
      type: Boolean,
      default: false
    },
    isSurvey: {
      type: Boolean,
      default: false
    },
    year: {
      type: Number,
      default: null
    }
  },
  components: {
    'covid-information': () => import('@/components/carbon/forms/survey/CovidInformation.vue')
  },
  computed: {
    nMeals () {
      return this.survey.meals.reduce((accumulator, object) => {
        return parseInt(accumulator) + parseInt(object.amount)
      }, 0)
    },
    sections1 () {
      return this.survey.sections.filter(section => !section.isDay2)
    },
    sections2 () {
      return this.survey.sections.filter(section => section.isDay2)
    },
    foodSummary () {
      let label = ''
      for (let meal of this.survey.meals) {
        label += meal.amount + ' ' + this.$t(meal.type) + ', '
      }
      return label.slice(0, -2)
    },
    commuteDay1Summary () {
      let label = ''
      for (let section of this.survey.sections) {
        if (!section.isDay2) {
          label += section.distance + ' ' + this.$t('km-' + section.mode) + ', '
          if (section.mode === 'car') {
            label = label.slice(0, -2)
            label += ' (' + this.$t(section.engine) + '), '
          }
        }
      }
      return label.slice(0, -2)
    },
    commuteDay2Summary () {
      let label = ''
      for (let section of this.survey.sections) {
        if (section.isDay2) {
          label += section.distance + ' ' + this.$t('km-' + section.mode) + ', '
          if (section.mode === 'car') {
            label = label.slice(0, -2)
            label += ' (' + this.$t(section.engine) + '), '
          }
        }
      }
      return label.slice(0, -2)
    }
  }
}
</script>
