<i18n>
{
  "fr": {
    "text-1": "<b>Prise en compte uniquement des équipements informatiques professionnels achetés par votre organisation</b><br/> Comme pour les autres postes, afin d'éviter les doubles comptages, ne comptez que le matériel informatique professionnel acheté par votre structure. Par conséquent, si vous hébergez du matériel acheté (et donc inventorié) par une autre structure, ses émissions incorporées ne vous sont pas rattachées. Inversement, si votre organistion a acheté du matériel informatique qui est hébergé par une autre structure, alors les émissions incorporées de ces équipements doivent vous être imputées."
  },
  "en": {
    "text-1": "<b>Count only professional digital devices purchased by your organisation</b><br/> As for the other items, in order to avoid double counting, consider only professional digital devices purchased by your organisation. Therefore, if your lab hosts digital devices purchased (and therefore inventoried) by another entity, its embedded emissions are not reported in your GHGI. Conversely, if your organisation has purchased digital devices that are hosted in another entity, then the incorporated emissions of these devices should be allocated to your organisation."
  }
}
</i18n>

<template>
  <div>
    <b-notification :has-icon="true" icon="info" :closable="false">
      <p>
        <span v-html="$t('text-1')" />
      </p>
    </b-notification>
    <help-data />
  </div>
</template>

<script>
export default {
  name: 'HelpManual',
  components: {
    'help-data': () => import('@/components/carbon/forms/devices/HelpData.vue')
  }
}
</script>
