<i18n>
{
  "fr": {
    "title-1": "Ajouter un matériel informatique",
    "title-2": "Modifier un matériel informatique",
    "info-1": "Sélectionnez le type d'équipement numérique (PC fixe, portable, écran, serveur, etc.) ainsi que son modèle si connu.",
    "field-1": "Type",
    "field-2": "Modèle",
    "field-3": "Quantité"
  },
  "en": {
    "title-1": "Add a digital device",
    "title-2": "Update a digital device",
    "info-1": "Select the type of digital device (desktop, laptop, monitor, server, etc.) and the model when available",
    "field-1": "Type",
    "field-2": "Model",
    "field-3": "Quantity"
  }
}
</i18n>

<template>
  <b-modal
    :active="displayModal"
    has-modal-card
    @close="$emit('close')"
    :can-cancel="['escape', 'x', 'outside']"
  >
    <div class="dialog" style="width: 800px; height: auto">
      <div class="modal-card" style="max-width: 100%">
        <form @submit.prevent="validateBeforeSubmit">
          <header class="modal-card-head">
            <p class="modal-card-title">{{ modalTitle }}</p>
          </header>
          <section class="modal-card-body">
            <b-notification :closable="false">
              {{ $t('info-1') }}
            </b-notification>
            <b-notification :closable="false">
              <div class="columns">
                <div class="column">
                  <b-field
                    :label="$t('field-1')"
                    :type="{ 'is-danger': errors.has('type') }"
                    :message="errors.first('type')"
                  >
                    <b-select
                      name="type"
                      v-validate="'required'"
                      v-model="citem.type"
                      :placeholder="$t('field-1')"
                      :disabled="submitted"
                      expanded
                    >
                      <option
                        v-for="(item, key) in devices"
                        :key="key"
                        :value="key"
                      >
                        {{ i18nType(key) }}
                      </option>
                    </b-select>
                  </b-field>
                </div>
                <div class="column">
                  <b-field
                    :label="$t('field-2')"
                    :type="{ 'is-danger': errors.has('model') }"
                    :message="errors.first('model')"
                  >
                    <b-select
                      name="model"
                      v-model="citem.model"
                      expanded
                      v-validate="{ required: hasModels }"
                      :placeholder="$t('field-2')"
                      :disabled="submitted || !hasModels"
                    >
                      <option v-if="addDefault" value="default">
                        {{ $t('labels.default_model') }}
                      </option>
                      <option
                        v-for="(item, key) in models"
                        :key="key"
                        :value="key"
                      >
                        {{ i18nModel(key) }}
                      </option>
                    </b-select>
                  </b-field>
                </div>
                <div class="column">
                  <b-field
                    :label="$t('field-3')"
                    :type="{ 'is-danger': errors.has('amount') }"
                    :message="errors.first('amount')"
                  >
                    <b-input
                      name="amount"
                      :disabled="submitted"
                      v-model.number="citem.amount"
                      v-validate="'required|numeric'"
                      type="number"
                      min="0"
                      max="99999"
                      step="1"
                    />
                  </b-field>
                </div>
              </div>
            </b-notification>
            <b-notification v-if="authStore.isAuthenticated" :closable="false">
              <tags-input v-model="citem.tags" :disabled="submitted" />
            </b-notification>
          </section>
          <footer class="modal-card-foot">
            <b-button class="button" @click="$emit('close')" icon-left="close">
              {{ $t('cancel') }}
            </b-button>
            <button
              v-show="modeCreation"
              type="submit"
              class="button is-primary"
            >
              <b-icon icon="plus" />
              <span> {{ $t('add') }} </span>
            </button>
            <button
              v-show="!modeCreation"
              type="submit"
              class="button is-primary"
            >
              <b-icon icon="refresh" />
              <span> {{ $t('update') }} </span>
            </button>
          </footer>
        </form>
      </div>
    </div>
  </b-modal>
</template>

<script>
import { devices, i18nType, i18nModel } from '@ecodiag/ecodiag-lib'
import { useAuthenticationStore } from '@/stores/authentication.js'
import { useGHGIStore } from '@/stores/ghgi.js'

import _ from 'lodash'

export default {
  name: 'Modal',
  props: {
    displayModal: {
      type: Boolean,
      default: false
    },
    item: {
      type: Object,
      default: function () {
        return {}
      }
    },
    modeCreation: {
      type: Boolean,
      default: false
    }
  },
  components: {
    'tags-input': () => import('@/components/core/TagsInput.vue')
  },
  data () {
    return {
      // avoid mutation of the original
      citem: _.cloneDeep(this.item)
    }
  },
  setup () {
    const ghgiStore = useGHGIStore()
    const authStore = useAuthenticationStore()
    return { ghgiStore, authStore }
  },
  $_veeValidate: {
    validator: 'new'
  },
  computed: {
    devices () {
      return devices
    },
    hasModels () {
      return (
        this.citem.type in this.devices &&
        'models' in this.devices[this.citem.type]
      )
    },
    models () {
      if (this.hasModels) {
        return this.devices[this.citem.type].models
      } else {
        return {}
      }
    },
    submitted: function () {
      return this.ghgiStore.item.submitted.devices
    },
    addDefault () {
      let hasDefault =
        this.hasModels && 'default' in this.devices[this.citem.type].models
      return !hasDefault || !this.hasModels
    },
    modalTitle () {
      return this.modeCreation ? this.$t('title-1') : this.$t('title-2')
    }
  },
  methods: {
    i18nType (type) {
      return i18nType(type, this.$i18n.locale)
    },
    i18nModel (model) {
      let t = i18nModel(this.citem.type, model, this.$i18n.locale)
      if (t === '__default__') {
        return this.$t('labels.default_model')
      }
      return t
    },
    validateBeforeSubmit () {
      this.$validator.validateAll().then((result) => {
        if (result) {
          this.$emit('validated', this.citem)
        }
      })
    }
  }
}
</script>
