<p>
Un nouveau message vous attend sur la plateforme Transition 1point5.
</p>

<p>
Si vous êtes connecté.e avec votre compte vous 
pouvez accèder à l'action à l'adresse suivante:

<a href="https://{{ host }}/transition-1point5/reviewer/actions/{{ id }}">https://{{ host }}/transition-1point5/reviewer/actions/{{ id }}</a>
</p>

<p>
Sinon connectez-vous avec votre compte et visualiser cette action parmi la liste
des actions.
</p>