<i18n>
{
  "fr": {
    "title-1": "Année civile du BGES et budget {done} {structure}",
    "title-2": "Effectif {done} {structure}",
    "save-msg": "Les informations de périmètre ont été sauvegardées avec <strong><span style='color:green;'>succès</span></strong>.",
    "info-1": "L’année considérée est celle des données utilisées, et non celle de l’établissement du BGES (par exemple les données que vous allez saisir dans l’outil datent de",
    "info-2": "et le BGES est construit en",
    "info-3": ": l’année du BGES est donc",
    "info-4": "Plus précisément, c’est l’année civile des données collectées pour les consommations d’énergie des bâtiments et, dans la mesure du possible, pour les déplacements en mission.",
    "info-5": "Il est possible que les données de consommations d’énergie des bâtiments ne soient pas disponibles pour la même année que celles des déplacements en missions. Faites au mieux! L’empreinte carbone {done} {structure} est dans tous les cas un ordre de grandeur.",
    "info-6": "Indiquez l'ordre de grandeur des dépenses totales de votre {structure} (dépenses de fonctionnement + dépenses d'investissements), y compris celles liées à des contrats, hormis les salaires quels qu'ils soient (salaires des permanents et salaires des personnels contractuels).",
    "info-7": "Une personne doit être comptée dans l’effectif du {structure} seulement si elle a fait partie de l’effectif {done} {structure} sur les 12 mois de l’année considérée (ceci exclut les stagiaires et les personnes visitantes qui restent moins d’un an).",
    "info-8": "Saisissez l’effectif relatif à l’année civile du BGES, ou à défaut, celui de l’année en cours. Ne pas inclure les chercheur.e.s associé.e.s.",
    "field-1": "Année civile du BGES",
    "field-2": "Budget annuel",
    "field-3": "Description / notes internes",
    "field-4": "Total"
  },
  "en": {
    "title-1": "Calendar year of the GHG inventory and budget {done} {structure} ",
    "title-2": "Headcount of the {structure}",
    "save-msg": "The data relating to the boundaries have been <strong><span style='color:green;'>successfully</span></strong>saved.",
    "info-1": "The year considered is that of the data, not that of the year when you conduct the GHG inventory (e.g. the data that you will enter into the tool date back to",
    "info-2": "and the GHG inventory is conducted in",
    "info-3": ": the year of the GHG inventory is",
    "info-4": "More precisely, it is the calendar year of the data collected for the energy consumption of the buildings, and, as much as possible, for the business trips.",
    "info-5": "It is possible that the data of the energy consumption of the buildings are not available for the same year as the business trips. Do the best you can ! In any case, the carbon footprint of a {structure} is an order-of-magnitude estimate.",
    "info-6": "Enter the order of magnitude of all the expenses of your {structure} (operating expenses + capital expenses), including those linked to contracts, excluding all salaries whatever they may be (salaries from permanent or temporary employees).",
    "info-7": "A person must be included in the headcount of the {structure} if he/she has been a member of the staff over the 12 months of the year considered  (this excludes interns and visiting persons who stayed less than a year).",
    "info-8": "Enter the headcount relating to the calendar year of the GHG inventory, or, if missing, that of the current year. Do not include associated researchers.",
    "field-1": "Calendar year of the GHG inventory",
    "field-2": "Annual budget",
    "field-3": "Description / internal notes",
    "field-4": "Total"
  }
}
</i18n>

<template>
  <div>
    <serveur-info :erreur="error" />
    <form @submit.prevent="validateBeforeSubmit">
      <my-notification :icon="'calendar'">
        <template #title>
          {{ $t('title-1') }}
        </template>
        {{ $t('info-1') }} {{ currentYear - 2 }} {{ $t('info-2') }} {{ currentYear }}{{ $t('info-3') }} {{ currentYear - 2 }}).
        <br />
        {{ $t('info-4') }}
        <br />
        {{ $t('info-5') }}
        <br />
        <br />
        {{ $t('info-6') }}
        <br />
        <br />
        <div class="columns">
          <div class="column">
            <b-field
              :label="$t('field-1') + ' *'"
              :type="{'is-danger': errors.has('year')}"
              :message="errors.first('year')">
              <b-select
                :placeholder="$t('field-1') + ' *'"
                icon="calendar"
                v-validate="'required'"
                name="year"
                expanded
                :disabled="submitted"
                v-model="year"
              >
                <option
                  :disabled="year.disabled"
                  v-for="(year,index) in availableYears"
                  :value="year.value"
                  :key="index">
                  {{ year.value }}
                </option>
              </b-select>
            </b-field>
          </div>
          <div class="column">
            <b-field
              :label="$t('field-2') + ' *'"
              :type="{'is-danger': errors.has('budget')}"
              :message="errors.first('budget')">
              <b-input
                name="budget"
                v-model.number="budget"
                :placeholder="$t('field-2') + ' *'"
                v-validate="'required|numeric|min_value:1'"
                type="number"
                expanded
                min="0"
                icon="eur"
                :disabled="submitted"
              />
            </b-field>
          </div>
        </div>
      </my-notification>
      <br />
      <my-notification :icon="'group'">
        <template #title>
          {{ $t('title-2') }}
        </template>
        <div class="columns">
          <div
            class="column is-9"
            style="margin-right: 20px;"
          >
            {{ $t('info-7') }}
            <br />
            {{ $t('info-8') }}
          </div>
          <div class="column">
            <nav class="level" style="border-left: 1px solid; margin-left: 30px; margin-top: 20px;">
              <div class="level-item has-text-centered">
                <div>
                  <p class="heading"> {{ $t('field-4') }} </p>
                  <p class="title"> {{ total }} </p>
                </div>
              </div>
            </nav>
          </div>
        </div>
        <div class="columns is-multiline">
          <div
            class="column is-3"
            v-for="position in ghgiStore.item.boundary.structure"
            :key="position.name"
          >
            <b-field
              :label="$t(position.name)"
              :type="{'is-danger': errors.has(position.name)}"
              :message="errors.first(position.name)">
              <b-input
                :name="position.name"
                :disabled="submitted"
                v-validate="'required|numeric'"
                v-model.number="position.number"
                @input="inputChanged"
                type="number"
                expanded
                min="0"
              />
            </b-field>
          </div>
        </div>
      </my-notification>
      <br />
      <my-notification :icon="'pencil'">
        <template #title>
          {{ $t('field-3') }}
        </template>
        <editor
          v-model="description"
        />
      </my-notification>
      <br />
      <nav v-if="!submitted" class="level">
        <div class="level-left"></div>
        <div class="level-right">
          <button
            type="submit"
            :disabled="isDisabled"
            class="level-item button is-primary"
            data-testid="ghgi-boundary-save"
          >
            <span class="icon is-small" v-if="authStore.isAuthenticated"><i class="fa fa-save"></i></span>
            <span class="icon is-small" v-else><i class="fa fa-check"></i></span>
            <span v-if="authStore.isAuthenticated">{{ $t('save') }}</span>
            <span v-else>{{ $t('validate') }}</span>
          </button>
        </div>
      </nav>
    </form>
  </div>
</template>

<script>
import { useAdminStore } from '@/stores/admin.js'
import { useAuthenticationStore } from '@/stores/authentication.js'
import { useGHGIStore } from '@/stores/ghgi.js'
import { useCoreStore } from '@/stores/core'

export default {
  name: 'GenericEntity',
  components: {
    'editor': () => import('@/components/Editor.vue'),
    'my-notification': () => import('@/components/MyNotification.vue'),
    'serveur-info': () => import('@/components/ServeurInfo.vue')
  },
  $_veeValidate: {
    validator: 'new'
  },
  props: {
    flags: {
      type: Object
    }
  },
  data () {
    return {
      error: '',
      hasBeenSavedOnce: false,
      editorEventOK: false
    }
  },
  setup () {
    const adminStore = useAdminStore()
    const authStore = useAuthenticationStore()
    const ghgiStore = useGHGIStore()
    const coreStore = useCoreStore()
    return { adminStore, authStore, ghgiStore, coreStore }
  },
  computed: {
    allGHGI: function () {
      return this.adminStore.allGHGI
    },
    positionTitles: function () {
      return this.coreStore.positionTitles
    },
    submitted: function () {
      return this.ghgiStore.item.submitted.commutes
    },
    currentYear: function () {
      return new Date().getFullYear()
    },
    availableYears: function () {
      let years = []
      let cYear = new Date().getFullYear() - 1
      let toYear = cYear - 10
      for (let i = cYear; i >= toYear; i--) {
        let year = this.allGHGI.filter(obj => parseInt(obj.year) === i)
        years.push({
          value: i,
          disabled: year.length !== 0
        })
      }
      return years
    },
    validSavedIcon: function () {
      let icon = null
      if (this.authStore.isAuthenticated) {
        icon = 'save'
      } else {
        icon = 'check'
      }
      return icon
    },
    id: function () {
      return this.ghgiStore.item.id
    },
    year: {
      get: function () {
        return this.ghgiStore.item.year
      },
      set: function (year) {
        this.ghgiStore.updateYear(year)
        this.inputChanged()
      }
    },
    budget: {
      get: function () {
        return this.ghgiStore.item.boundary.budget
      },
      set: function (budget) {
        this.ghgiStore.updateNBudget(budget)
        this.inputChanged()
      }
    },
    description: {
      get: function () {
        return this.ghgiStore.item.description
      },
      set: function (description) {
        this.ghgiStore.updateDescription(description)
        if (!this.editorEventOK) {
          this.editorEventOK = true
        } else {
          this.inputChanged()
        }
      }
    },
    isDisabled () {
      let toReturn = true
      if (this.hasBeenSavedOnce) {
        toReturn = !this.flags.isModified || this.total === 0
      } else {
        toReturn = this.flags.isValid || this.total === 0
      }
      return toReturn
    },
    total () {
      return this.ghgiStore.item.boundary.workforce
    }
  },
  methods: {
    numberChanged (positionName, number) {
      this.ghgiStore.item.boundary.structure.setNumber(positionName, parseInt(number))
    },
    inputChanged () {
      if (this.hasBeenSavedOnce || this.flags.isValid) {
        this.$emit('is-valid', false)
        this.$emit('is-modified', true)
        this.error = ''
      }
    },
    validateBeforeSubmit () {
      this.$validator.validateAll().then((result) => {
        if (result) {
          if (this.authStore.isAuthenticated) {
            const loadingComponent = this.$buefy.loading.open({
              container: null
            })
            this.ghgiStore.saveGHGI()
              .then(data => {
                loadingComponent.close()
                this.$emit('is-valid', true)
                this.$emit('is-modified', false)
                this.error = ''
                window.scrollTo(0, 0)
                this.$buefy.toast.open({
                  type: 'is-light',
                  message: this.$t('save-msg')
                })
                this.hasBeenSavedOnce = true
                this.id = data.id
                this.ghgiStore.set(this.id)
                  .then(data => {
                    this.$router.push('/ges-1point5/' + this.id).catch(() => {})
                  })
              })
              .catch((error) => {
                console.error(error)
                loadingComponent.close()
                this.$emit('is-valid', false)
                this.error = error.response.data
                this.$emit('is-modified', false)
              })
          } else {
            this.$emit('is-valid', true)
            this.$emit('is-modified', false)
            this.hasBeenSavedOnce = true
          }
        }
      })
    }
  },
  mounted: function () {
  }
}
</script>
