<i18n>
{
  "fr": {
    "title-1": "Les bâtiments",
    "title-2": "Suppression",
    "info-1": "Définissez l'ensemble des bâtiments occupés par {the} {structure} en",
    "info-3": "Les données de consommations affichées ci-dessous pour le chauffage et l’électricité tiennent compte de la part de la surface utile brute que vous avez saisie.",
    "info-5": "Certaines données de bâtiments ne sont pas valides. \n<br />Souhaitez-vous <strong>supprimer</strong> les bâtiments correspondant ?",
    "info-8": "Lorsque des informations manquent ou sont erronées pour certains bâtiments, le statut <em>non valide</em> apparaît. En cliquant sur <i class='fa fa-pencil' style='font-size: 16px;'></i>, vous pouvez modifier la saisie du bâtiment concerné. Si aucune modification n’est opérée, le bâtiment demeurera non validé et ne sera pas pris en compte lors du calcul des émissions de GES.",
    "save-msg": "Les informations de bâtiments ont été sauvegardées avec <strong><span style='color:green;'>succès</span></strong>.",
    "label-1": "Lignes valides",
    "label-2": "Total electricité",
    "label-3": "Total chauffage",
    "message-10": "Bâtiments ou fluides non reconnus",
    "message-11": "<strong>Certains identifiants</strong> de bâtiments ou de fluides frigorènes <strong>n'ont pas été reconnus</strong>. <br/> Verifiez que les noms de bâtiments utilisés dans les <strong>fichiers énergies </strong> et <strong> fluides frigorigènes </strong> correspondent. <br/> Verifiez également que les identifiants utilisés pour les fluides frigorigènes sont correctes (voir liste).",
    "message-12": "Bâtiment dupliqué",
    "message-13": "Un bâtiment avec le même nom a déjà été importé.",
    "tooltip-1": "1 MWh = 1000 kWh"
  },
  "en": {
    "title-1": "Buildings",
    "title-2": "Delete",
    "info-1": "Define all the buildings occupied by {the} {structure} in",
    "info-3": "The consumption data posted below for heating and electricity account for the share of the gross useful area that you have entered. ",
    "info-5": "Some buildings data are not valid. \n <br />Would you like to <strong>delete</strong> the corresponding buildings?",
    "info-8": "When data are missing or incorrect for some buildings, the status is <em>invalid</em>. When clicking on <i class='fa fa-pencil' style='font-size: 16px;'></i>, you can update the data of the related building. If no update is made, the building remains invalid and will not be considered for the GHG emission calculation.",
    "save-msg": "The buildings data have been <strong><span style='color:green;'>successfully</span></strong>saved.",
    "label-1": "Valid rows",
    "label-2": "Electricity total",
    "label-3": "Heating total",
    "message-10": "Building(s) or refrigerant(s) not recognized",
    "message-11": "Some building or refrigerant <strong>identifiers were not recognized</strong>. <br/> Check that the building names used in the <strong> energy </strong> and <strong> refrigerant </strong> files match. <br/> Also check that the identifiers used for refrigerants are valid (see list).",
    "message-12": "Duplicate building",
    "message-13": "A building with the same name has already been imported.",
    "tooltip-1": "1 MWh = 1000 kWh"
  }
}
</i18n>

<template>
  <div>
    <serveur-info :erreur="error"/>
    <my-notification :icon="'building'">
      <template #title>
        {{ $t('title-1') }}
      </template>
      <p>
        {{ $t('info-1') }} <strong>{{ GHGIyear }}</strong>.
      </p>
    </my-notification>
    <br />
    <help-file-format :module="module"/>
    <b-notification :has-icon="true" icon="info" :closable="false">
      {{ $t('info-3') }} <span v-html="$t('info-8')"></span>
    </b-notification>

    <upload
      v-model="source"
      :submitted="submitted"
      :module="module"
      :infos="infos"
      :callback="callback"
      :formatDescription="formatDescription"
      @update="$emit('is-modified', true)"
    />

    <buildings-table
      :items="buildings"
      @edit="edit"
      @update="$emit('is-modified', true)"
      @del="del"
      data-testid="buildings-table"
    />

    <building-modal
      v-if="building!==null"
      :displayModal="displayModal"
      :building="building"
      :buildings="buildings"
      :modeCreation="modeCreation"
      @close="closeModal"
      @update="update"
      @add="add"
    />
    <br />
    <nav class="level">
      <div class="level-left"></div>
      <div class="level-right">
        <div class="buttons">
          <b-button
            class="button"
            icon-left="plus"
            :disabled="submitted"
            @click="displayAddForm()"
          >
            {{ $t('add') }}
          </b-button>
          <b-button
            class="level-item"
            data-testid="buildings-save"
            :icon-left="validSavedIcon"
            :disabled="!flags.isModified"
            type="is-primary"
            @click="validate()"
          >
            <span v-if="authStore.isAuthenticated">{{ $t('save') }}</span>
            <span v-else>{{ $t('validate') }}</span>
          </b-button>
        </div>
      </div>
    </nav>
  </div>
</template>

<script>
import Building from '@/models/carbon/Building.js'
import Modules from '@/models/Modules.js'
import { useAdminStore } from '@/stores/admin.js'
import { useAuthenticationStore } from '@/stores/authentication.js'
import { useGHGIStore } from '@/stores/ghgi.js'

import _ from 'lodash'

export default {
  name: 'Main',
  components: {
    'my-notification': () => import('@/components/MyNotification.vue'),
    'serveur-info': () => import('@/components/ServeurInfo.vue'),
    'upload': () => import('@/components/carbon/forms/Upload.vue'),
    'help-file-format': () => import('@/components/carbon/forms/HelpFileFormat.vue'),
    'building-modal': () => import('@/components/carbon/forms/buildings/Modal.vue'),
    'buildings-table': () => import('@/components/carbon/forms/buildings/Table.vue')
  },
  $_veeValidate: {
    validator: 'new'
  },
  props: {
    flags: {
      type: Object
    }
  },
  data () {
    return {
      error: '',
      source: null,
      modeCreation: false,
      displayModal: false,
      building: null,
      activeTab: 0
    }
  },
  setup () {
    const adminStore = useAdminStore()
    const authStore = useAuthenticationStore()
    const ghgiStore = useGHGIStore()
    return { adminStore, authStore, ghgiStore }
  },
  computed: {
    validSavedIcon: function () {
      let icon = null
      if (this.authStore.isAuthenticated) {
        icon = 'save'
      } else {
        icon = 'check'
      }
      return icon
    },
    infos: function () {
      let totalInvalid = this.ghgiStore.invalidItems(this.module, this.source).length
      let totalValid = this.buildings.length - totalInvalid
      let value1 = this.$options.filters.splitNumber(totalValid) + ' / '
      value1 += this.$options.filters.splitNumber(totalValid + totalInvalid)
      return [
        {
          'label': this.$t('label-1'),
          'value': value1
        },
        {
          'label': this.$t('label-2'),
          'tooltip': this.$t('tooltip-1'),
          'value': this.$options.filters.splitNumber(this.totalElectricity / 1000) + ' MWh'
        },
        {
          'label': this.$t('label-3'),
          'tooltip': this.$t('tooltip-1'),
          'value': this.$options.filters.splitNumber(this.totalHeating / 1000) + ' MWh'
        }
      ]
    },
    formatDescription: function () {
      return function (fields) {
        if (fields.length <= 3) {
          return [
            Building.refrigerantFormatDescription,
            Modules.REFRIGERANTS
          ]
        } else {
          return [
            Building.energyFormatDescription,
            'energies'
          ]
        }
      }
    },
    module: function () {
      return Modules.BUILDINGS
    },
    submitted: function () {
      return this.ghgiStore.item.hasOneBuildingsModuleSubmitted
    },
    GHGIyear: function () {
      return this.ghgiStore.item.year
    },
    buildings: function () {
      return this.ghgiStore.items(this.module).filter(item => {
        if (this.source === null) {
          return true
        } else {
          return item.source === this.source
        }
      })
    },
    allFilesEnergies: function () {
      return this.allFiles.filter(obj => obj.filetype === 'energies')
    },
    allFilesRefrigerants: function () {
      return this.allFiles.filter(obj => obj.filetype === Modules.REFRIGERANTS)
    },
    totalElectricity: function () {
      let validBuildings = this.buildings.filter(obj => obj.score !== 2 && obj.electricity)
      return validBuildings.map(obj => obj.getElectricityConsumption()).reduce((a, b) => (parseFloat(a) + parseFloat(b)), 0.0).toFixed(0)
    },
    totalHeating: function () {
      let validBuilding = this.buildings.filter(obj => obj.score !== 2 && obj.heatings)
      return validBuilding.map(obj => obj.getTotalHeatingConsumption()).reduce((a, b) => (parseFloat(a) + parseFloat(b)), 0.0).toFixed(0)
    }
  },
  methods: {
    callback: function (data, format, source) {
      this.error = null
      this.isLoading = true
      let allTags = this.adminStore.allTagCategories.map(obj => obj.tags).flat()
      if (format === 'energies') {
        let newBuildings = Building.createFromLines(data, format, allTags, source)
        const allBuildingsInDB = this.adminStore.allBuildings
        for (let newBuilding of newBuildings) {
          // if building is in database already, retrieve id to avoid duplicate
          let buildingIsInDB = allBuildingsInDB.filter(obj => obj.name === newBuilding.name)
          if (buildingIsInDB.length) {
            newBuilding.id = buildingIsInDB[0].id
          }

          let allBuildingNames = this.ghgiStore.items(this.module).map(obj => obj.name)
          if (allBuildingNames.includes(newBuilding.name)) {
            let msg = ' <strong>' + newBuilding.name + '</strong> : ' + this.$t('message-13')
            this.$buefy.dialog.alert({
              title: this.$t('message-12'),
              message: msg
            })
          } else {
            this.ghgiStore.addItem({
              module: this.module,
              item: newBuilding
            })
          }
        }
      } else {
        let allBuildingNames = this.ghgiStore.items(this.module).map(obj => obj.name)
        let refrigerants = Building.createFromLines(data, format, allTags, source)
        let invalidItem = 0
        for (let refrigerant of refrigerants) {
          // Check if building exists in the store, then push new refrigerant
          if (allBuildingNames.includes(refrigerant.building) && refrigerant.valid) {
            this.addRefrigerant({
              buildingName: refrigerant.building,
              refrigerant: refrigerant.value
            })
          } else { invalidItem++ }
        }
        if (invalidItem) {
          this.$buefy.dialog.alert({
            title: this.$t('message-10'),
            message: this.$t('message-11')
          })
        }
      }
    },
    validate: function () {
      let self = this
      if (this.ghgiStore.invalidItems(this.module).length !== 0) {
        this.$buefy.dialog.confirm({
          title: self.$t('title-2'),
          message: self.$t('info-5'),
          confirmText: self.$t('delete'),
          cancelText: self.$t('cancel'),
          canCancel: ['escape', 'button', 'outside'],
          onConfirm: function () {
            self.ghgiStore.deleteInvalidItems(self.module)
            self.subValidate()
          }
        })
      } else {
        this.subValidate()
      }
    },
    subValidate: function () {
      if (this.authStore.isAuthenticated) {
        const loadingComponent = this.$buefy.loading.open({
          container: null
        })
        this.ghgiStore.saveItems(this.module)
          .then(data => {
            loadingComponent.close()
            this.error = ''
            this.$emit('is-modified', false)
            this.$emit('is-valid', this.ghgiStore.items(this.module).length > 0)
            window.scrollTo(0, 0)
            this.$buefy.toast.open({
              type: 'is-light',
              message: this.$t('save-msg')
            })
            this.source = null
          })
          .catch((error) => {
            loadingComponent.close()
            this.error = error.response.data
            this.$emit('is-valid', false)
          })
      } else {
        this.$emit('is-valid', this.ghgiStore.items(this.module).length > 0)
        this.$emit('is-modified', false)
      }
    },
    displayAddForm: function () {
      this.modeCreation = true
      this.building = Building.createEmpty()
      this.displayModal = true
    },
    closeModal: function () {
      this.displayModal = false
      this.building = null
    },
    add: function (building) {
      this.ghgiStore.addItem({
        module: this.module,
        item: building
      })
      this.$emit('is-modified', true)
      this.closeModal()
    },
    update: function (obj) {
      this.ghgiStore.updateItem({
        module: this.module,
        item: obj
      })
      this.$emit('is-modified', true)
      this.closeModal()
    },
    addRefrigerant: function (iobj) {
      const item = this.ghgiStore.items(this.module).find(obj => obj.name === iobj.buildingName)
      let nbuilding = _.cloneDeep(item)
      nbuilding.refrigerants.push(iobj.refrigerant)
      nbuilding.sourceRefrigerant = iobj.source
      this.ghgiStore.updateItem({
        module: this.module,
        item: {
          'from': item,
          'to': nbuilding
        }
      })
      this.$emit('is-modified', true)
    },
    del: function (items) {
      this.ghgiStore.deleteItems({
        module: this.module,
        items: items
      })
    },
    edit: function (building) {
      this.modeCreation = false
      this.building = building
      this.displayModal = true
    }
  },
  mounted () {
    if (this.authStore.isAuthenticated) {
      const loadingComponent = this.$buefy.loading.open({
        container: null
      })
      this.adminStore.getAllBuildings()
        .then(data => {
          loadingComponent.close()
        })
    }
  }
}
</script>

<style>
.b-tabs .tabs {
  overflow: visible;
}
.b-tabs .tabs li.is-disabled {
  pointer-events: auto;
}
.b-tabs .tabs li.is-disabled a:active {
  pointer-events: none;
}
span.heating-header {
  margin-right: 15px;
}
.table td {
  vertical-align: middle !important;
}
</style>
